{block navbarTitle}
	<i class="fa fa-files-o"></i>
	<span n:block="title">{_'Stránky'}</span>
	<small>{_'přehled všech stránek'}</small>
{/block}

{block navbarButtons}
	<a n:if="$user->isAllowed('Admin:Pages','add')" n:href="Add!" title="{_'Vytvořit novou stránku'}" class="btn btn-primary">
		<i class="fa fa-plus"></i>
		<span>{_'Přidat stránku'}</span>
	</a>
{/block}

{block content}
	<div class="container list-container">
		
		{include "list.latte"}

	</div>
{/block}