{form pageForm class=>"confirm-leave"}

	{control pageForm errors}

	{input page_id}

	{include CP_DIR."/Forms/templates/localeInput.latte", _form => $_form, name => "page_title", label => "Název stránky", placeholder => 'Zadejte název stránky', required => true}

	{formContainer blocks}
		{foreach $form->properties[htmlBlocks] AS $key => $block}
			{formContainer $key}
				{input block_id}

				{input block_key}

				{var $formLabel = isset($form->properties[htmlBlocks][$key][formLabel]) ? $form->properties[htmlBlocks][$key][formLabel] : "Obsah stránky"}

				{var $formPlaceholder = isset($form->properties[htmlBlocks][$key][formPlaceholder]) ? $form->properties[htmlBlocks][$key][formPlaceholder] : "Uveďte obsah stránky"}

				{include CP_DIR."/Forms/templates/localeTextArea.latte", _form => $_form, name => "block_html", label => $formLabel, placeholder => $formPlaceholder, required => true, html => true}

			{/formContainer}
		{/foreach}
	{/formContainer}

	{foreach $form->properties[albums] AS $key => $album}
		{var $formTitle = isset($album[formLabel]) ? $album[formLabel] : "Obrázky"}

		<h3>{$formTitle}</h3>
		{include "../../Forms/templates/gallery.latte", _form => $_form, name => $key}
	{/foreach}

	{*formContainer structure}
		{foreach $page["structure"] AS $key => $structure}
			{formContainer $key}
				{input structure_id}

				{input parent_structure_id}
			{/formContainer}
		{/foreach}
	{/formContainer*}

	<div class="checkbox text-center" n:if="$user->isAllowed('Admin:Pages','publish') && $user->isAllowed('Admin:Pages','unpublish')">
		<input n:name="page_published" type="checkbox">
		<label n:name="page_published" class="control-label">{_"Publikovat stránku"}</label>
	</div>

	{if $user->isInRole('superAdmin')}
		{include CP_DIR."/Forms/templates/localeSelect.latte", _form => $_form, name => "page_template", label => "Šablona"}
	{/if}

	{include "../../Slugs/templates/slugPart.latte", _form => $_form}

	<div class="buttonpane">
		<button n:name="save" type="submit" class="btn btn-primary btn-lg">
			<i class="fa fa-check"></i>
			{if $page[page_id]}
				<span>{_"Uložit změny"}</span>
			{else}
				<span>{_'Vytvořit stránku'}</span>
			{/if}
		</button>

		{if $page[page_id]}
			<a n:href="Remove! $page[page_id], redirect => 'Pages:default'" type="submit" class="btn btn-default remove" data-confirm-title="{_"Odebrat stránku"}" data-confirm-message="{_"Opravdu chcete stránku odebrat?"}">
				<i class="fa fa-trash-o"></i>
				<span>{_"Odebrat stránku"}</span>
			</a>
		{/if}
	</div>
{/form}