{var $backlink = $presenter->storeRequest();}

<div class="list">
	<table class="table pages fixed-header">
		<thead>
			<tr>
				<th class="title">{include "../../Grid/templates/sortableTh.latte", field => "page_title", label => "Název stránky"}</th>
				<th class="tools">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr n:foreach="$pagesGrid->items AS $page"{if !$page->page_published} class="unpublished"{/if}>
				<td class="title">
					<strong>
						<a n:href=":Front:Pages:default $page->page_id" title="{_'Zobrazit stránku'}">{$page->page_title}</a>
					</strong>
					<span class="ellipsis">
						{if $page->page_published}
							{_'Publikovaná'}
						{else}
							{_'Skrytá'}
						{/if}
					</span>
				</td>
				<td class="tools">
					<a n:if="!$page->page_published && $user->isAllowed('Admin:Pages','publish')" n:href="SetPublished! $page->page_id, page_published => 1, backlink => $backlink" class="btn btn-primary btn-ico" title="{_'Publikovat tuto stránku'}">
						<i class="fa fa-eye-slash"></i>
						<span>{_'Publikovat'}</span>
					</a>

					<a n:if="$page->page_published && $user->isAllowed('Admin:Pages','unpublish')" n:href="SetPublished! $page->page_id, page_published => 0, backlink => $backlink" class="btn btn-primary btn-ico" title="{_'Skrýt tuto stránku'}">
						<i class="fa fa-eye"></i>
						<span>{_'Skrýt'}</span>
					</a>

					<a n:if="$user->isAllowed('Admin:Pages','edit')" n:href="Pages:Edit $page->page_id, backlink => $backlink" class="btn btn-primary btn-ico" title="{_'Upravit tuto stránku'}">
						<i class="fa fa-pencil"></i>
						<span>{_'Upravit'}</span>
					</a>

					<a n:if="$user->isAllowed('Admin:Pages','remove')" n:href="Remove! $page->page_id, backlink => $backlink" class="btn btn-default btn-ico remove" title="{_'Odebrat tuto stránku'}" data-confirm-title="{_'Odebrat tuto stránku'}" data-confirm-message="{_'Opravdu chcete tuto stránku odebrat?'}">
						<i class="fa fa-trash-o"></i>
						<span>{_'Odebrat'}</span>
					</a>
				</td>
			</tr>
					
			<tr n:if="!count($pagesGrid->items)" class="empty">
				<td colspan="2">{_'Žádné stránky'}</td>
			</tr>
					
		</tbody>
	</table>

	{! $pagesGrid->paginator}

</div>