<p>{_'Zadejte svůj přihlašovací email na který bude odeslána žádost o obnovu hesla'}</p>

{form forgottenPasswordForm}

	{control forgottenPasswordForm errors}

	<div class="form-group">
		<label n:name="user_email" class="control-label"><span class="required">*</span> {_"Váš přihlašovací email"}</label>
		<input n:name="user_email" class="form-control" type="email" placeholder="{_'Váš přihlašovací email'}" />
	</div>

	<div class="buttonpane">
		<button n:name="reset" class="btn btn-primary btn-lg" type="submit">
			<i class="fa fa-check"></i>
			<span>{_"Odeslat žádost"}</span>
		</button>
	</div>
			
{/form}