{var $backlink = $presenter->storeRequest()}

<div class="list">
	<table class="table users fixed-header">
		<thead>
			<tr>
				<th class="title">{include "../../Grid/templates/sortableTh.latte", field => "user_title", label => "Jméno"}</th>
				<th class="less-important">{include "../../Grid/templates/sortableTh.latte", field => "role_title", label => "Role"}</th>
				<th class="not-important datetime">{include "../../Grid/templates/sortableTh.latte", field => "user_lastloged", label => "Poslední přihlášení"}</th>
				<th class="tools">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr n:foreach="$profilesGrid->items AS $profile">
				<td class="title">
					<strong>{$profile->user_title}</strong>
					<span class="ellipsis">{$profile->user_email}</span>
				</td>
				<td class="less-important">
					{$profile->role_title}
				</td>
				<td class="not-important datetime" title="{$profile->user_lastloged_ip}">
					{if $profile->user_lastloged}
						{$profile->user_lastloged|smartdate}
					{else}
						<em>{_"Nikdy"}</em>
					{/if}
				</td>
				<td class="tools">
					<a n:href="Users:Edit $profile->user_id, backlink => $backlink" class="btn btn-primary btn-ico{if !$profile->editable} disabled{/if}" title="{_'Upravit tento účet'}">
						<i class="fa fa-pencil fa-fw"></i>
						<span>{_'Upravit'}</span>
					</a>
					<a n:if="$user->isInRole('superAdmin')" n:href="Users:changePassword $profile->user_id, backlink => $backlink" title="{_'Změnit heslo'}" class="btn btn-primary btn-ico">
						<i class="fa fa-lock fa-fw"></i>
						<span>{_'Změnit heslo'}</span>
					</a>
					<a n:href="Remove! $profile->user_id, backlink => $backlink" class="btn btn-default btn-ico remove{if !$profile->editable} disabled{/if}" title="{_'Odebrat tento účet'}" data-confirm-title="{_'Odebrat tento účet'}" data-confirm-message="{_'Opravdu chcete tento účet odebrat?'}">
						<i class="fa fa-trash-o fa-fw"></i>
						<span>{_'Odebrat'}</span>
					</a>
				</td>
			</tr>
			
			<tr n:if="!count($profilesGrid->items)" class="empty">
				<td colspan="4">
					{_'Nenalezeny žádné uživatelské účty'}
				</td>
			</tr>
		</tbody>
	</table>
			
	{! $profilesGrid->paginator}
		
</div>