{form loginForm}

	{control loginForm errors}

	<div class="form-group">
		<label class="control-label" n:name="user_email">{_"Přihlašovací email"}</label>
		<input class="form-control" type="email" n:name="user_email" placeholder="{_'Váš přihlašovací email'}" />
	</div>

	<a class="pull-right" n:href="User:forgottenPassword" tabindex="5" title="{_"Zapoměli jste své heslo?"}">{_'Zapomenuté heslo'}</a>

	<div class="form-group">
		<label class="control-label" n:name="user_password">{_'Heslo'}</label>
		<input n:name="user_password" class="form-control" placeholder="{_'Vaše přihlašovací heslo'}">
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label n:name="remember">
					<input type="checkbox" n:name="remember" />
					{_"Trvalé přihlášení"}
				</label>
			</div>
		</div>
		<div class="col-sm-6 text-right">
			<button class="btn btn-primary btn-lg" type="submit" n:name="login">
				<i class="fa fa-sign-in"></i>
				<span>{_"Přihlásit se"}</span>
			</button>
		</div>
	</div>

{/form}