<p>{_'Váš požadavek na obnovu zapomenutého hesla byl autorizován. Zvolte nové heslo pro svůj účet.'}</p>

{form resetPasswordForm}

	{control resetPasswordForm errors}

	<div class="form-group">
		<label n:name="newPassword" class="control-label"><span class="required">*</span> {_"Nové heslo"}</label>
		<input n:name="newPassword" class="form-control" placeholder="{_'Zadejte nové heslo'}" type="password">
	</div>

	<div class="form-group">
		<label n:name="verifyPassword" class="control-label"><span class="required">*</span> {_"Nové heslo znovu"}</label>
		<input n:name="verifyPassword" class="form-control" placeholder="{_'Opište nové heslo pro kontrolu'}" type="password">
	</div>

	<div class="buttonpane">
		<button n:name="save" class="btn btn-primary btn-lg" type="submit">
			<i class="fa fa-check"></i>
			<span>{_"Uložit nové heslo"}</span>
		</button>
	</div>

{/form}