{form changePasswordForm}

	{control changePasswordForm errors}

	<div class="form-group">
		<label n:name="newPassword" class="control-label"><span class="required">*</span> {_"Nové heslo"}</label>
		<input n:name="newPassword" class="form-control" type="password" placeholder="{_'Zvolte nové heslo'}">
	</div>

	<div class="form-group">
		<label n:name="verifyPassword" class="control-label"><span class="required">*</span> {_"Nové heslo znovu"}</label>
		<input n:name="verifyPassword" class="form-control" type="password" placeholder="{_'Opiště nové heslo pro kontrolu'}">
	</div>

	<div class="buttonpane">
		<button n:name="save" class="btn btn-primary btn-lg" type="submit">
			<i class="fa fa-check"></i>
			<span>{_"Uložit heslo"}</span>
		</button>
	</div>

{/form}