{form userForm class=>"confirm-leave"}

	{control userForm errors}

	{input user_id}

	<div class="form-group">
		<label n:name="user_title" class="control-label"><span class="required">*</span> {_"Jméno"}</label>
		<input n:name="user_title" class="form-control input-lg" type="text" placeholder="{_'Zadejte jméno'}" />
	</div>

	<div class="form-group">
		<label n:name="user_email" class="control-label"><span class="required">*</span> {_"Email"}</label>
		<input n:name="user_email" class="form-control" type="email" placeholder="{_'Zadejte email uživatelského účtu'}" />
	</div>

	{include "userFormRole.latte", _form => $_form}

	{include "userFormLocale.latte", _form => $form}

	<div class="buttonpane">
		<button n:name="save" class="btn btn-primary btn-lg" type="submit">
			<i class="fa fa-check"></i>
			<span>
				{if $profile[user_id]}
					{_"Uložit změny"}
				{else}
					{_"Vytvořit účet"}
				{/if}
			</span>
		</button>

		{if $profile[user_id]}
			<a n:href="Remove!" type="submit" class="btn btn-default remove" data-confirm-title="{_"Odebrat účet"}" data-confirm-message="{_"Opravdu chcete uživatelský účet odebrat?"}">
				<i class="fa fa-trash-o"></i>
				<span>{_"Odebrat účet"}</span>
			</a>
		{/if}
	</div>

{/form}