{if $user->isInRole("superAdmin")}
	<div class="form-group">
		<label n:name="role" class="control-label">{_"Role"}</label>
		<select n:name="role" class="form-control"></select>
	</div>
{else}
	{input role}
{/if}