{if !($user->isInRole('seller') || $user->isInRole('admin') || $user->isInRole('superAdmin'))}
	{var $class = isset($class) ? $class : ""}

	<ul class="menu user {$class}">
		{if $user->isLoggedIn()}
			<li>
				<a n:href="User:myProfile" title="{_'Zobrazit můj účet'}">
					<i class="fa fa-user"></i><span class="hidden-xxs"> {_'Můj účet'}</span>
				</a>
			</li>
			<li>
				<a n:href="User:logout" title="{_'Odhlásit se'}">
					<i class="fa fa-power-off"></i><span class="hidden-xxs"> {_'Odhlásit se'}</span>
				</a>
			</li>
		{else}
			<li>
				<a n:href="User:login" title="{_'Přihlásit se'}">
					<i class="fa fa-sign-in"></i><span class="hidden-xxs"> {_'Přihlásit se'}</span>
				</a>
			</li>
			<li>
				<a n:href="User:signUp" title="{_'Vytvořit účet'}">
					<i class="fa fa-user"></i><span class="hidden-xxs"> {_'Vytvořit účet'}</span>
				</a>
			</li>
		{/if}
	</ul>
{/if}