{block navbarTitle}
	<i class="fa fa-plus"></i>
	<span n:block="title">{_'Přidat URL adresu'}</span>
	<small>/</small>
	<small>
		<a n:href="Slugs:default" title="{_'Zpět na přehled URL adres'}"><i class="fa fa-globe"></i> {_'URL adresy'}</a>
	</small>
{/block}

{block content}
<div class="container">

	{include "form.latte"}

</div>