{block navbarTitle}
	<i class="fa fa-globe"></i>
	<span n:block="title">{_'URL adresy'}</span>
	<small>{_'správa URL adres'}</small>
{/block}

{block navbarButtons}
	<a n:href="Slugs:add" title="{_'Přidat novou URL adresu'}" class="btn btn-primary">
		<i class="fa fa-plus"></i>
		<span>{_'Přidat URL adresu'}</span>
	</a>
{/block}

{block content}
	<div class="container list-container">
		
		{include "list.latte"}

	</div>
{/block}