{form slugForm}

	{control slugForm errors}

	<div class="form-group">
		<label class="control-label" n:name="client_id">{_'ID klienta'}</label>
		<input class="form-control" n:name="client_id" placeholder="{_'Zadejte ID klienta'}">
	</div>

	<div class="form-group">
		<label class="control-label" n:name="owner_table">{_'Tabulka'}</label>
		<input class="form-control" n:name="owner_table" placeholder="{_'Zadejte tabulku vlastníka'}">
	</div>

	<div class="form-group">
		<label class="control-label" n:name="owner_id">{_'Primární klíč'}</label>
		<input class="form-control" n:name="owner_id" placeholder="{_'Zadejte primární klíč vlastníka'}">
	</div>

	<div class="form-group">
		<label class="control-label" n:name="slug_action">{_'Presenter a akce'}</label>
		<input class="form-control" n:name="slug_action" placeholder="{_'Zadejte Presenter:Action'}">
	</div>

	<div class="form-group">
		<label class="control-label" n:name="slug_parameters">{_'Parametry'}</label>
		<input class="form-control" n:name="slug_parameters" placeholder="{_'Zadejte případné parametry'}">
	</div>
			
	{include "slugFields.latte", _form => $_form}

	<div class="buttonpane">
		<button n:name="save" class="btn btn-primary btn-lg">
			<i class="fa fa-check"></i>
			<span>{_'Uložit'}</span>
		</button>
	</div>

{/form}