<div class="list">
	<table class="table fixed-header">
		<thead>
			<tr>
				<th class="title">{include "../../Grid/templates/sortableTh.latte", field => "slug_title", label => "Název"}</th>
				<th class="text-left">{include "../../Grid/templates/sortableTh.latte", field => "slug_url", label => "URL"}</th>
				<th>{include "../../Grid/templates/sortableTh.latte", field => "slug_action", label => "Akce"}</th>
				<th>{include "../../Grid/templates/sortableTh.latte", field => "client_id", label => "Klient"}</th>
				<th class="switch">{_'Dostupný'}</th>
				<th class="tools">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr n:foreach="$slugsGrid->items AS $slug">
				<td class="title">
					<strong>
						<a href="{$basePath}/{$slug[slug_url]}" title="{_'Přejít na tuto URL adresu'}">{$slug["slug_label"]}</a>
					</strong>
					<span class="ellipsis">{if $slug["slug_parameters"]}{$slug["slug_parameters"]}{else}<em>{_'bez parametrů'}</em>{/if}</span>
				</td>
				<td class="text-left">
					{$slug["slug_url"]}
				</td>
				<td>
					{$slug["slug_action"]}
				</td>
				<td>
					{if $slug["client_id"]}
						{$slug["client_id"]}
					{else}
						<em>{_'obecný'}</em>
					{/if}
				</td>
				<td class="switch">
					{if $slug[slug_available]}
						<a n:href="SetAvailability! $slug[slug_id], value => 0" title="{_'Odebrat možnost vložit URL adresu do menu'}">
							<i class="fa fa-check"></i>
						</a>
					{else}
						<a n:href="SetAvailability! $slug[slug_id], value => 1" title="{_'Přidat možnost vložit URL adresu do menu'}">
							<i class="fa fa-circle-o"></i>
						</a>
					{/if}
				</td>
				<td class="tools">
					<a n:href="Slugs:edit $slug[slug_id]" title="{_'Upravit tuto URL adresu'}" class="btn btn-ico btn-primary">
						<i class="fa fa-pencil"></i>
						<span>{_'Upravit'}</span>
					</a>
					<a n:href="Remove! $slug[slug_id]" title="{_'Odebrat tuto URL adresu'}" class="btn btn-ico btn-primary remove" data-confirm-title="{_'Odebrat URL adresu'}" data-confirm-message="{_'Opravdu chcete tuto URL adresu odebrat?'}">
						<i class="fa fa-trash-o"></i>
						<span>{_'Odebrat'}</span>
					</a>
				</td>
			</tr>

			<tr n:if="!count($slugsGrid->items)" class="empty">
				<td colspan="3">{_'Nenalezeny žádné URL adresy'}</td>
			</tr>
		</tbody>
	</table>

	{! $slugsGrid->paginator}
	
</div>