{var $container = isset($container) ? $container : null}

{if $container}
	{formContainer $container}
		{include fields, _form => $_form}

	{/formContainer}
{else}
	{include fields}
{/if}

{define fields}
	{include "../../Forms/templates/localeInput.latte", name => "slug_url", label => "URL adresa", placeholder => "Zadejte požadovanou URL adresu ", prefix => $_SERVER['SERVER_NAME'] . "/", _form => $_form}

	{include "../../Forms/templates/localeInput.latte", name => "slug_label", label => "Název v menu", placeholder => "Zadejte název v menu", _form => $_form}

	{include "../../Forms/templates/localeInput.latte", name => "slug_title", label => "Tooltip v menu", placeholder => "Zadejte požadovaný tooltip v menu", _form => $_form}

	{include "../../Forms/templates/localeInput.latte", name => "slug_meta_description", label => "Meta - Description", placeholder => "Zadejte popis obsahu stránky", _form => $_form}

	{include "../../Forms/templates/localeInput.latte", name => "slug_meta_keywords", label => "Meta - Keywords", placeholder => "Zadejte klíčová slova stránky", _form => $_form}

	<div class="form-group">
		<label class="control-label" n:name="slug_meta_author">{_'Meta - Author'}</label>
		<input class="form-control" n:name="slug_meta_author" placeholder="{_'Zadejte autora obsahu stránky'}">
	</div>

	<div class="checkbox text-center">
		<input n:name="slug_available">
		<label n:name="slug_available">{_'Dostupný pro menu'}</label>
	</div>
{/define}