{if $user->isAllowed("Admin:Slugs", "edit")}
	<div class="collapsible" data-force-collapsed="1" data-preserve-values="1">
		<h3 class="collapsible-trigger">{_'Hlavička stránky'}</h3>
		<div class="collapsible-content">
			{include "slugFields.latte", container => "slug", _form => $_form}
		</div>
	</div>
{/if}