{block navbarTitle}
	<i class="fa fa-clock-o"></i>
	<span n:block="title">{_'Archív dokladů'}</span>
	<small>/</small>
	<small>
		<a n:href="Invoices:default" title="{_'Zpět na přehled aktuálních dokladů'}"><i class="fa fa-file-text-o"></i> {_'Doklady'}</a>
	</small>
{/block}

{block content}
	<div class="container list-container">
		
		{include "list.latte", type => "archive"}
		
	</div>
{/block}