{block title}
{_"Doklad č."} {$invoice[invoice_no]}
{/block}

{block navbarTitle}
	<i class="fa fa-file-text-o"></i>
	<span>
		{$presenter->invoicesService->settings[typeOptions][$invoice[invoice_type]]}
	</span>
	<small>/</small>
	<small>
		<a n:href="Invoices:default" title="{_'Zpět na přehled dokladů'}"><i class="fa fa-file-text-o"></i> {_'Doklady'}</a>
	</small>
{/block}

{block navbarButtons}
	<a n:if="$invoice[invoice_type] == 'proforma' && $invoice[invoice_type] == 'active'" n:href="CreateMain! $invoice[invoice_id]" class="btn btn-primary" title="{_'Vystavit daňový doklad'}">
		<i class="fa fa-money"></i>
		<span>{_'Vystavit daňový doklad'}</span>
	</a>
	<a n:href="Invoices:edit $invoice[invoice_id]" title="{_'Upravit doklad'}" class="btn btn-primary">
		<i class="fa fa-pencil"></i>
		<span>{_'Upravit'}</span>
	</a>
	<a n:href="Invoices:Send $invoice[invoice_id], backlink => $presenter->storeRequest()" class="btn btn-primary" title="{_'Odeslat doklad emailem'}">
		<i class="fa fa-envelope"></i>
		<span>{_'Odeslat'}</span>
	</a>
	<a n:href="Remove! $invoice[invoice_id]" class="btn btn-default remove" title="{_'Odebrat tento doklad'}" data-confirm-title="{_'Odebrat doklad'}" data-confirm-message="{_'Opravdu chcete tento doklad odebrat?'}">
	<i class="fa fa-trash-o"></i>
	<span>{_'Odebrat'}</span>
</a>
{/block}

{block content}
<div class="container">
	<iframe src="{$basePath}/{$invoice["invoice_document_path"]}?ver={time()}" class="pdf"></iframe>
</div>

{*{! $html}*}
