{var $backlink = $presenter->storeRequest()}

<div class="list">
	<table class="table invoices fixed-header">
		<thead>
			<tr>
				<th class="">{include CP_DIR."/Grid/templates/sortableTh.latte", field => "invoice_no", label => "Číslo"}</th>
				<th class="title">{include CP_DIR."/Grid/templates/sortableTh.latte", field => "invoice_title", label => "Název"}</th>
				<th class="not-important datetime">{include CP_DIR."/Grid/templates/sortableTh.latte", field => "invoice_established", label => "Vystaveno"}</th>
				<th class="less-important">{include CP_DIR."/Grid/templates/sortableTh.latte", field => "CONCAT(invoice_customer_name,invoice_customer_company)", label => "Odběratel"}</th>
				<th class="not-important price">{include CP_DIR."/Grid/templates/sortableTh.latte", field => "invoice_price_sum", label => "Celkem bez DPH"}</th>
				{*<th class="less-important">{include CP_DIR."/Grid/templates/sortableTh.latte", field => "invoice_status", label => "Stav"}</th>*}
				<th class="tools t-5">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr n:foreach="$invoicesGrid->items AS $invoice" class="{if $invoice->invoice_status == 'active' && time() > strtotime($invoice->invoice_expire)} alert-danger{/if}">
				<td class="">
					<small n:if="count($presenter->getQueueOptions()) > 1">
						{$queueOptions[$invoice->invoice_queue][title]}
						<br/>
					</small>
					<a n:href="Invoices:detail $invoice->invoice_id" title="{_'Otevřít dokument dokladu'}">
						{$invoice->invoice_no}
					</a>
					<small n:if="$invoice->proforma_invoice_id"><br/>
						<a n:href="Invoices:detail $invoice->proforma_invoice_id" title="{_'Otevřít dokument výzvy k platbě'}">
							{$invoice->proforma_invoice_no}
						</a>
					</small>
				</td>
				<td class="title">
					<strong>
						<a n:href="Invoices:detail $invoice->invoice_id" title="{_'Otevřít dokument dokladu'}">
							{if strlen($invoice->invoice_title)}
								{$invoice->invoice_title}
							{else}
								<em>{_'Neuveden'}</em>
							{/if}
						</a>
					</strong>
					<span class="ellipsis">

					</span>
				</td>
				<td class="less-important">
					{$invoice->invoice_established|date}<br/>
					{*{$invoice->invoice_expire|date}*}
				</td>
				<td class="less-important">
					{if strlen($invoice->invoice_customer_name)}
						{$invoice->invoice_customer_name}
					{else}
						<em>{_'Neuveden'}</em>
					{/if}
				</td>
				<td class="not-important price">
					{$invoice->invoice_price_sum|number:2:",":" "}&nbsp;{$currency}
				</td>
				{*<td class="less-important">
					{form statusForm, class => "inline-form save-select"}

						{? $form->setValues((array) $invoice)}

						<select n:name="invoice_status" class="form-control"></select>

						<button n:name="set" class="btn btn-primary btn-ico">
							<i class="fa fa-fw fa-check"></i>
							<span>{_'Uložit'}</span>
						</button>

					{/form}
				</td>*}
				<td class="tools t-5">
					<a n:href="Invoices:Edit $invoice->invoice_id, backlink => $backlink" class="btn btn-primary btn-ico" title="{_'Upravit tento doklad'}">
						<i class="fa fa-pencil"></i>
						<span>{_'Upravit'}</span>
					</a>
					<a n:if="$invoice->invoice_type == 'proforma' && $invoice->invoice_status == 'active'" n:href="CreateMain! $invoice->invoice_id, backlink => $backlink" class="btn btn-primary btn-ico" title="{_'Vystavit daňový doklad'}">
						<i class="fa fa-money"></i>
						<span>{_'Daňový doklad'}</span>
					</a>
					<a n:href="Invoices:Send $invoice->invoice_id, backlink => $backlink" class="btn btn-primary btn-ico" title="{if $invoice->invoice_sent}{_'Doklad odeslán'}: {$invoice->invoice_sent|datetime}{else}{_'Doklad dosud neodeslán'}{/if} - {_'Odeslat doklad emailem'}">
						<i class="fa {if $invoice->invoice_sent}fa-envelope{else}fa-envelope-o{/if}"></i>
						<span>{_'Odeslat'}</span>
					</a>
					<a n:href="Duplicate! $invoice->invoice_id, backlink => $backlink" class="btn btn-default btn-ico" title="{_'Duplikovat tento doklad'}">
						<i class="fa fa-files-o"></i>
						<span>{_'Duplikovat'}</span>
					</a>
					<a n:href="Remove! $invoice->invoice_id, backlink => $backlink" class="btn btn-default btn-ico remove" title="{_'Odebrat tento doklad'}" data-confirm-title="{_'Odebrat doklad'}" data-confirm-message="{_'Opravdu chcete tento doklad odebrat?'}">
						<i class="fa fa-trash-o"></i>
						<span>{_'Odebrat'}</span>
					</a>
				</td>
			</tr>

			<tr n:if="!count($invoicesGrid->items)" class="empty">
				<td colspan="6">{_'Nenalezeny žádné doklady'}</td>
			</tr>
		</tbody>
	</table>

	{! $invoicesGrid->paginator}

</div>