{var $backlink = $presenter->storeRequest()}

{var $showInvoiceQueue = count($presenter->getQueueOptions()) > 1 ? true : false}

<div class="list">
	<table class="table invoices-templates fixed-header">
		<thead>
			<tr>
				<th n:if="$showInvoiceQueue">{include CP_DIR."/Grid/templates/sortableTh.latte", field => "invoice_queue", label => "Č. řada"}</th>
				<th class="title">{include CP_DIR."/Grid/templates/sortableTh.latte", field => "invoice_title", label => "Název"}</th>
				<th class="not-important datetime">{include CP_DIR."/Grid/templates/sortableTh.latte", field => "invoice_expire", label => "Splatnost"}</th>
				<th class="less-important">{include CP_DIR."/Grid/templates/sortableTh.latte", field => "CONCAT(invoice_customer_name,invoice_customer_company)", label => "Odběratel"}</th>
				<th class="not-important price">{include CP_DIR."/Grid/templates/sortableTh.latte", field => "invoice_price_sum", label => "Celkem bez DPH"}</th>
				<th class="less-important">{include CP_DIR."/Grid/templates/sortableTh.latte", field => "invoice_repeat", label => "Pravidelná"}</th>
				<th class="tools t-4">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr n:foreach="$invoicesGrid->items AS $invoice">
				<td n:if="$showInvoiceQueue">
					{$queueOptions[$invoice->invoice_queue][title]}
				</td>
				<td class="title">
					<strong>
						{if strlen($invoice->invoice_title)}
							{$invoice->invoice_title}
						{else}
							<em>{_'Neuveden'}</em>
						{/if}
					</strong>
					<span class="ellipsis">

					</span>
				</td>
				<td class="less-important">
					{$invoice->invoice_expire}&nbsp;{_'dnů'}
				</td>
				<td class="less-important">
					{if strlen($invoice->invoice_customer_name)}
						{$invoice->invoice_customer_name}
					{else}
						<em>{_'Neuveden'}</em>
					{/if}
				</td>
				<td class="not-important price">
					{$invoice->invoice_price_sum|number:2:",":" "}&nbsp;{$currency}
				</td>
				<td class="less-important">
					{$presenter->invoicesService->settings[repeatOptions][$invoice->invoice_repeat]}
				</td>
				<td class="tools t-4">
					<a n:href="Invoices:EditTemplate $invoice->invoice_id, backlink => $backlink" class="btn btn-primary btn-ico" title="{_'Upravit tuto šablonu dokladu'}">
						<i class="fa fa-pencil"></i>
						<span>{_'Upravit'}</span>
					</a>
					<a n:href="CreateRegular! $invoice->invoice_id, backlink => $backlink" class="btn btn-primary btn-ico" title="{_'Vystavit doklad z této šablony'}">
						<i class="fa fa-check"></i>
						<span>{_'Vystavit doklad doklad'}</span>
					</a>
					<a n:href="DuplicateTemplate! $invoice->invoice_id, backlink => $backlink" class="btn btn-primary btn-ico" title="{_'Duplikovat tuto šablonu'}">
						<i class="fa fa-files-o"></i>
						<span>{_'Duplikovat'}</span>
					</a>
					<a n:href="RemoveTemplate! $invoice->invoice_id, backlink => $backlink" class="btn btn-default btn-ico remove" title="{_'Odebrat tuto šablonu dokladu'}" data-confirm-title="{_'Odebrat šablonu'}" data-confirm-message="{_'Opravdu chcete tuto šablonu dokladu odebrat?'}">
						<i class="fa fa-trash-o"></i>
						<span>{_'Odebrat'}</span>
					</a>
				</td>
			</tr>

			<tr n:if="!count($invoicesGrid->items)" class="empty">
				<td colspan="6">{_'Nenalezeny žádné šablony dokladů'}</td>
			</tr>
		</tbody>
	</table>

	{! $invoicesGrid->paginator}

</div>