{var $backlink = $presenter->storeRequest()}

<a n:href="AddTemplate! main, backlink => $backlink" title="{_'Vytvořit šablonu daňového dokladu'}" class="btn btn-primary">
	<i class="fa fa-plus"></i>
	<span>{_'Daňový doklad'}</span>
</a>
<a n:href="AddTemplate! proforma, backlink => $backlink" title="{_'Vytvořit šablonu výzvy k platbě (není daňový doklad)'}" class="btn btn-primary">
	<i class="fa fa-plus"></i>
	<span>{_'Výzva k platbě'}</span>
</a>