{*{snippet test}
	{time()}
{/snippet}

<a n:href="Test!" class="ajax">TEST</a>*}
<div class="form-invoice">
<h2>{$presenter->invoicesService->settings[typeOptions][$invoice[invoice_type]]}</h2>

{default $formType = "regular"}

	<div n:if="count($presenter->getQueueOptions()) > 1" class="form-group">
		<label class="control-label" n:name="invoice_queue">{_'Číselná řada'}</label>
		<div class="input-group">
			<select class="form-control" n:name="invoice_queue"></select>
			<span class="input-group-btn">
				<button n:name="set_queue" class="btn">
					<span>{_'Nastavit'}</span>
				</button>
			</span>
		</div>
	</div>
	
	<div class="collapsible" data-preserve-values="1" data-precollapsed="1">
		<h2 class="collapsible-trigger">{_'Vlastnosti dokladu'}</h2>

		<div class="collapsible-content">
			<div class="form-group">
				<label class="control-label" n:name="invoice_title">{_'Název'}</label>
				<input class="form-control input-lg" n:name="invoice_title" placeholder="{_'Zadejte název dokladu'}">
				<p n:if="$formType == 'template'" class="insert-to-input" data-insert-to-selector="[name=invoice_title]">
					<small>Vložit:</small>
					<a class="label label-default" href="javascript:void(0);" data-insert="#ROK#">ROK vystavení</a>
					<a class="label label-default" href="javascript:void(0);" data-insert="#MESIC#">MĚSÍC vystavení</a>
					<a class="label label-default" href="javascript:void(0);" data-insert="#DEN#">DEN vystavení</a>
					<a class="label label-default" href="javascript:void(0);" data-insert="#CISLO#">ČÍSLO dokladu</a>
					<a class="label label-default" href="javascript:void(0);" data-insert="#PORADOVE#">POŘADOVÉ číslo</a>
				</p>
			</div>

			<div n:if="$formType == 'regular'" class="form-group">
				<label class="control-label" n:name="invoice_no">{_'Číslo dokladu'}</label>
				<input class="form-control input-lg" n:name="invoice_no" placeholder="{_'Zadejte číslo dokladu'}">
			</div>

			<div class="form-group" n:if="count($presenter->invoicesService->settings[paymentOptions][$invoice[invoice_type]]) > 1">
				<label class="control-label" n:name="invoice_payment">{_'Forma úhrady'}</label>
				<select class="form-control" n:name="invoice_payment"></select>
			</div>
			
			<div n:if="$formType == 'regular'" class="form-group">
				<label class="control-label" n:name="invoice_status">{_'Stav dokladu'}</label>
				<select class="form-control" n:name="invoice_status"></select>
			</div>

			<div n:if="count($presenter->getBankAccountOptions()) > 1" class="form-group">
				<label class="control-label" n:name="invoice_bank_account">{_'Bankovní účet'}</label>
				<select class="form-control" n:name="invoice_bank_account"></select>
			</div>

			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label class="control-label" n:name="invoice_vs">{_'Variabilní symbol'}</label>
						<input class="form-control" n:name="invoice_vs" placeholder="{_'Zadejte variabilní symbol dokladu'}">
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label class="control-label" n:name="invoice_ks">{_'Konstantní symbol'}</label>
						<input class="form-control" n:name="invoice_ks" placeholder="{_'Zadejte konstantní symbol dokladu'}">
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label class="control-label" n:name="invoice_ss">{_'Specifický symbol'}</label>
						<input class="form-control" n:name="invoice_ss" placeholder="{_'Zadejte specifický symbol dokladu'}">
					</div>
				</div>
			</div>

			<div class="row">
				<div n:if="$formType == 'regular'" class="col-sm-4">
					<div class="form-group">
						<label class="control-label" n:name="invoice_established">{_'Vystaveno'}</label>
						<input class="form-control date" n:name="invoice_established" placeholder="{_'Zadejte datum vystavení dokladu'}">
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label class="control-label" n:name="invoice_expire">{_'Splatnost'}</label>
						{if $formType == "regular"}
							<input class="form-control date" n:name="invoice_expire" placeholder="{_'Zadejte datum splatnosti dokladu'}">
						{else}
							<div class="input-group">
								<input class="form-control" type="number" n:name="invoice_expire" placeholder="{_'Zadejte splatnost dokladu'}">
								<span class="input-group-addon">
									{_'dnů'}
								</span>
							</div>
						{/if}
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label class="control-label" n:name="invoice_due">{_'Zdanitelné plnění'}</label>
						{if $formType == "regular"}
							<input class="form-control date" n:name="invoice_due" placeholder="{_'Zadejte datum zdanitelného plnění dokladu'}">
						{else}
							<div class="input-group">
								<input class="form-control" type="number" n:name="invoice_due" placeholder="{_'Zadejte zdanitelné plnění dokladu'}">
								<span class="input-group-addon">
									{_'dnů'}
								</span>
							</div>
						{/if}
					</div>
				</div>
				<div n:if="$formType == 'template'" class="col-sm-4">
					<div class="form-group">
						<label class="control-label" n:name="invoice_repeat">{_'Opakovat pravidelně'}</label>
						<select class="form-control" n:name="invoice_repeat"></select>
					</div>
				</div>
			</div>
			<div n:if="$formType == 'template'" class="row">
				<div class="col-sm-6">
					<label class="control-label" n:name="template_starts_at">{_'Zahájení platnosti'}</label>
					<input class="form-control date" n:name="template_starts_at" placeholder="{_'Zadejte datum zahájení platnosti šablony'}">
				</div>
				<div class="col-sm-6">
					<label class="control-label" n:name="template_ends_at">{_'Ukončení platnosti'}</label>
					<input class="form-control date" n:name="template_ends_at" placeholder="{_'Zadejte datum ukončení platnosti šablony'}">
				</div>
			</div>
		</div>
	</div>

	<div class="collapsible" data-preserve-values="1">
		<h2 class="collapsible-trigger">{_'Odběratel'}</h2>

		<div class="collapsible-content">
			{*<div class="form-group" n:if="$user->isInRole('seller') || $user->isInRole('admin')">
				<label class="control-label" n:name="user_id">{_'Zákazník'}</label>
				<select class="form-control" n:name="user_id"></select>
			</div>*}

			<div class="form-group">
				<label class="control-label" n:name="invoice_customer_name"><span class="required">*</span> {_'Jméno'}</label>
				<input class="form-control autocomplete" data-url="{link 'AddressBook:getSuggestions', field => 'contact_name'}" n:name="invoice_customer_name" placeholder="{_'Zadejte jméno odběratele'}">
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="control-label" n:name="invoice_customer_id">{_'IČ'}</label>
						<input class="form-control autocomplete" data-url="{link 'AddressBook:getSuggestions', field => 'contact_ic'}" n:name="invoice_customer_id" data-url-ares="{link 'AddressBook:getFromAres'}" placeholder="{_'Zadejte IČ'}">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="control-label" n:name="invoice_customer_vat">{_'DIČ'}</label>
						<input class="form-control" n:name="invoice_customer_vat" placeholder="{_'Zadejte DIČ'}">
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label" n:name="invoice_customer_phone">{_'Telefon'}</label>
				<input class="form-control autocomplete" data-url="{link 'AddressBook:getSuggestions', field => 'contact_phone'}" n:name="invoice_customer_phone" placeholder="{_'Zadejte telefon'}">
			</div>

			<div class="form-group">
				<label class="control-label" n:name="invoice_customer_email"><span class="required">*</span> {_'Email'}</label>
				<input class="form-control autocomplete" data-url="{link 'AddressBook:getSuggestions', field => 'contact_email'}" n:name="invoice_customer_email" placeholder="{_'Zadejte email'}" type="email">
			</div>

			<div class="row">
				<div class="col-sm-8">
					<div class="form-group">
						<label class="control-label" n:name="invoice_bill_address_street">{_'Ulice'}</label>
						<input class="form-control" n:name="invoice_bill_address_street" placeholder="{_'Zadejte ulici'}">
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label class="control-label" n:name="invoice_bill_address_no">{_'Č.P / Č.O.'}</label>
						<input class="form-control" n:name="invoice_bill_address_no" placeholder="{_'Zadejte číslo popisné a číslo orientační'}">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-4">
					<div class="form-group">
						<label class="control-label" n:name="invoice_bill_address_postcode">{_'PSČ'}</label>
						<input class="form-control" n:name="invoice_bill_address_postcode" placeholder="{_'Zadejte PSČ'}">
					</div>
				</div>
				<div class="col-xs-8">
					<div class="form-group">
						<label class="control-label" n:name="invoice_bill_address_city">{_'Město'}</label>
						<input class="form-control" n:name="invoice_bill_address_city" placeholder="{_'Zadejte město'}">
					</div>
				</div>
			</div>

			<div class="form-group" n:if="$presenter->client[selectCountry]">
				<label class="control-label" n:name="invoice_bill_address_country">{_'Země'}</label>
				<select class="form-control" n:name="invoice_bill_address_country"></select>
			</div>
		</div>
	</div>

	<h2>{_'Položky'}</h2>

	{*{? $presenter->initFormItems($_form)}*}

	{snippet invoiceItems}

		<table class="table list vertical-align-top">
			<thead>
				<tr>
					<th class="title">{_'Položka'}</th>
					<th>{_'Množství'}</th>
					<th>{_'Jednotka'}</th>
					<th>{_'DPH'}&nbsp;[%]</th>
					<th>{_'Cena/Jednotka'}</th>
					<th class="tools t1">&nbsp;</th>
				</tr>
			</thead>
			
			{var $sum = 0}
			{var $sumVat = 0}

			{var $itemsCount = 0}

			<tbody n:foreach="$_form[items]->containers AS $item" class="collapsible rowsgroup">

				{? $itemsCount++}
				{? $sum += $item[item_price_main]->value * $item[item_amount]->value}
				{? $sumVat += ($item[item_price_main]->value * ($item[item_price_vat]->value / 100)) * $item[item_amount]->value}

				{include "item.latte", item => $item}
				
			</tbody>
			<tbody>	
				<tr n:if="!$itemsCount" class="empty">
					<td colspan="6">{_'Žádné položky'}</td>
				</tr>

				<tr class="sum total">
					<td class="title" colspan="4">{_'Celkem'}</td>
					<td class="price sum"><span class="price">{$sum|number:2:",":" "}</span>&nbsp;{$currency}</td>
					<td class="tools t1">&nbsp;</td>
				</tr>
				<tr class="vat">
					<td class="title" colspan="4">{_'DPH'}</td>
					<td class="price sum"><span class="price">{$sumVat|number:2:",":" "}</span>&nbsp;{$currency}</td>
					<td class="tools t1">&nbsp;</td>
				</tr>

				{var $roundDiff = round($sum + $sumVat) - ($sum + $sumVat)}

				<tr class="round" {if !$itemsCount || !$roundDiff}style="display: none"{/if}>
					<td class="title" colspan="4">{_'Zaokrouhlení'}</td>
					<td class="price sum"><span class="price">{$roundDiff|number:2:",":" "}</span>&nbsp;{$currency}</td>
					<td class="tools t1">&nbsp;</td>
				</tr>

				<tr class="sum charge">
					<td class="title" colspan="4">{_'K úhradě'}</td>
					<td class="price sum"><span class="price">{round($sum + $sumVat)|number:2:",":" "}</span>&nbsp;{$currency}</td>
					<td class="tools t1">&nbsp;</td>
				</tr>
			</tbody>
		</table>
		
		<div class="row">
			<div class="col-sm-6">
				<button n:name="$_form[items][add]" class="btn btn-primary ajax">
					<i class="fa fa-plus"></i>
					<span>{_'Přidat položku'}</span>
				</button>
				<button n:name="$_form[items][recalculate]" class="btn btn-primary ajax">
					<i class="fa fa-refresh"></i>
					<span>{_'Přepočítat'}</span>
				</button>
			</div>
			<div class="col-sm-6 text-right">
				<button n:name="$_form[items][truncate]" class="btn btn-default ajax">
					<i class="fa fa-trash-o"></i>
					<span>{_'Vyprázdnit'}</span>
				</button>
			</div>
		</div>

	{/snippet}

	<div class="checkbox text-center">
		<input n:name="invoice_delegate_vat" type="checkbox">
		<label n:name="invoice_delegate_vat" class="control-label">{_"Přenést daňovou povinnost na odběratele"}</label>
	</div>

	<div class="checkbox text-center" n:if="$formType == 'template'">
		<input n:name="invoice_autosend" type="checkbox">
		<label n:name="invoice_autosend" class="control-label">{_"Automaticky odesílat odběrateli"}</label>
	</div>

	<div class="buttonpane">
		{if $formType == "regular"}
			<button n:name="save" class="btn btn-primary btn-lg">
				<i class="fa fa-check"></i>
				<span>{_'Uložit doklad'}</span>
			</button>

			<a n:if="$invoice[invoice_id]" n:href="Remove! $invoice[invoice_id]" class="btn btn-default remove" title="{_'Odebrat tento doklad'}" data-confirm-title="{_'Odebrat doklad'}" data-confirm-message="{_'Opravdu chcete tento doklad odebrat?'}">
				<i class="fa fa-trash-o"></i>
				<span>{_'Odebrat doklad'}</span>
			</a>
		{else}
			<button n:name="save" class="btn btn-primary btn-lg">
				<i class="fa fa-check"></i>
				<span>{_'Uložit šablonu'}</span>
			</button>

			<a n:if="$invoice[invoice_id]" n:href="RemoveTemplate! $invoice[invoice_id]" class="btn btn-default remove" title="{_'Odebrat tuto šablonu dokladu'}" data-confirm-title="{_'Odebrat šablonu'}" data-confirm-message="{_'Opravdu chcete tuto šablonu dokladu odebrat?'}">
				<i class="fa fa-trash-o"></i>
				<span>{_'Odebrat šablonu'}</span>
			</a>
		{/if}
	</div>
</div>