<tr>
	<td class="title">
		
		{input $item[id]}
		
		<span class="input-group">
			<input n:name="$item[item_title]" class="form-control" placeholder="{_'Zadejte název položky'}">
			<span class="input-group-addon collapsible-trigger"></span>
		</span>
	</td>
	<td>
		<input n:name="$item[item_amount]" class="form-control text-right" type="number">
	</td>
	<td>
		<input n:name="$item[item_amount_unit]" class="form-control">
	</td>
	<td>
		<input n:name="$item[item_price_vat]" class="form-control text-right" type="number">
	</td>
	<td>
		<input n:name="$item[item_price_main]" class="form-control text-right" type="number">
	</td>
	<td class="tools t1">
		<button n:name="$item[remove]" class="btn btn-default btn-ico ajax">
			<i class="fa fa-trash-o"></i>
			<span>{_'Odebrat'}</span>
		</button>
	</td>
</tr>
<tr class="collapsible-content">
	<td colspan="5">
		<textarea n:name="$item[item_description]" class="form-control" placeholder="{_'Uveďte případný popis položky'}"></textarea>
	</td>
	<td class="tools t1">
		&nbsp;
	</td>
</tr>