{var $tag = isset($tag) ? $tag : "h1"}
{var $small = isset($small) ? $small : false}
{var $title = isset($title) ? $title : (isset($label) ? $label : "")}

{if mb_strlen($title) <= 15 }
	{var $sizes = array(
		"padding" => array(
			"xs" => 1,
			"sm" => 4,
			"md" => 4
		),
		"title" => array(
			"xs" => 10,
			"sm" => 4,
			"md" => 4
		)
	)}
{elseif mb_strlen($title) > 15 && mb_strlen($title) <= 35}
	{var $sizes = array(
		"padding" => array(
			"xs" => 1,
			"sm" => 2,
			"md" => 3
		),
		"title" => array(
			"xs" => 10,
			"sm" => 8,
			"md" => 6
		)
	)}
{else}
	{var $sizes = array(
		"padding" => array(
			"xs" => 1,
			"sm" => 1,
			"md" => 2
		),
		"title" => array(
			"xs" => 10,
			"sm" => 10,
			"md" => 8
		)
	)}
{/if}

<div class="row centered-title">
	<div class="hidden-xxs col-xs-{$sizes[padding][xs]} col-sm-{$sizes[padding][sm]} col-md-{$sizes[padding][md]} centered-title-padding centered-title-padding-left">
	</div>
	<div class="col-xxs-12 col-xs-{$sizes[title][xs]} col-sm-{$sizes[title][sm]} col-md-{$sizes[title][md]} text-center centered-title-content">
		<{$tag}>
			<span n:block="title">{_$title}</span>
			<small n:if="$small">{_$small}</small>
		</{$tag}>	
	</div>
	<div class="hidden-xxs col-xs-{$sizes[padding][xs]} col-sm-{$sizes[padding][sm]} col-md-{$sizes[padding][md]} centered-title-padding centered-title-padding-right">
	</div>
</div>