{var $forced = isset($forced) ? $forced : true}

{var $layout = isset($layout) ? $layout : "horizontal"}

{if $layout == "horizontal"}
	<div class="row information-row" n:if="$forced || strlen($value)">
		<div class="col-sm-6">
			<span>{_$label}</span>
		</div>
		<div class="col-sm-6 text-right">
			{if strlen($value)}
				<strong>{! $value}</strong>
			{else}
				<em>{'Nezadáno'}</em>
			{/if}
		</div>
	</div>
{else}
	<div class="row information-row information-row-vertical information-row-label" n:if="$forced || strlen($value)">
		<div class="col-sm-12"-->
			<span>{_$label}</span>
		</div>
	</div>
	<div class="row information-row information-row-vertical information-row-value" n:if="$forced || strlen($value)">
		<div class="col-sm-12 text-left">
			<div class="document">
				{if strlen($value)}
					{! $value}
				{else}
					<p class="empty">
						<em>{'Nezadáno'}</em>
					</p>
				{/if}
			</div>
		</div>
	</div>
{/if}