<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-533d96871f4bceb4"></script>

<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
	<a class="addthis_button_facebook"></a>
	<a class="addthis_button_twitter"></a>
	<a class="addthis_button_print"></a>
	<a class="addthis_button_email"></a>
	<a class="addthis_button_favorites"></a>
</div>