<div n:if="$user->isInRole('superAdmin')" id="database">
	<i class="fa fa-database"></i>
	<span>
		{var $database = \Nette\Utils\Neon::decode(file_get_contents(DB_CONFIG_PATH))}

		{$database[nette][database][dsn]}
	</span>
</div>