{block navbarTitle}
	<i class="fa fa-star-o"></i>
	<span n:block="title">{_'Hodnocení'}</span>
	<small>{_'přehled vložených hodnocení'}</small>
{/block}

{block navbarButtons}
	<a n:href="Add!" title="{_'Vytvořit nové hodnocení'}" class="btn btn-primary">
		<i class="fa fa-plus"></i>
		<span>{_'Nové hodnocení'}</span>
	</a>
{/block}

{block content}
	<div class="container list-container">
		
		{include "list.latte"}

	</div>
{/block}