{form reviewForm}

	{control reviewForm errors}

	{input review_id}

	{dump $review}

	<div class="form-group">
		<label class="control-label">{_'Jméno autora'}</label>
		<input class="form-control" placeholder="{_'Jméno autora'}" n:name="review_author_name" />
	</div>

	<div class="form-group">
		<label class="control-label">{_'Město'}</label>
		<input class="form-control" placeholder="{_'Město'}" n:name="review_author_city" />
	</div>

	<div class="form-group">
		<label class="control-label">{_'Email autora'}</label>
		<input class="form-control" placeholder="{_'Email autora'}" n:name="review_author_email" type="email" />
	</div>

	<div class="form-group">
		<label class="control-label">{_'Text'}</label>
		<textarea class="form-control" placeholder="{_'Text'}" n:name="review_text"></textarea>
	</div>

	<div class="form-group">
		<label class="control-label">{_'Vloženo'}</label>
		<input class="form-control datetime" placeholder="{_'Datum a čas vložení'}" n:name="created" />
	</div>

	<div class="buttonpane">
		<button n:name="save" class="btn btn-primary btn-lg">
			<i class="fa fa-check"></i>
			<span>{_'Uložit hodnocení'}</span>
		</button>
	</div>
	
{/form}