<div class="list">
	<table class="table reviews fixed-header">
		<thead>
			<tr>
				<th class="title">{include CP_DIR."/Grid/templates/sortableTh.latte", field => "review_text", label => "Obsah"}</th>
				<th class="less-important name">{include CP_DIR."/Grid/templates/sortableTh.latte", field => "review_author_name", label => "Autor"}</th>
				<th class="less-important datetime">{include CP_DIR."/Grid/templates/sortableTh.latte", field => "created", label => "Vloženo"}</th>
				<th class="tools">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr n:foreach="$reviewsGrid->items AS $review">
				<td class="title">
					<span class="ellipsis">
						{$review->review_text|truncate: 100}
					</span>
				</td>
				<td class="less-important">
					<a href="mailto: {$review->review_author_email}" title="{_'Napsat email'}">
						{$review->review_author_name}
					</a>
				</td>
				<td class="less-important datetime">
					{$review->created|datetime}
				</td>
				<td class="tools">
					<a n:href="Reviews:Edit $review->review_id" class="btn btn-primary btn-ico" title="{_'Upravit toto hodnocení'}">
						<i class="fa fa-pencil"></i>
						<span>{_'Upravit'}</span>
					</a>
					<a n:href="Remove! $review->review_id" class="btn btn-default btn-ico remove" title="{_'Odebrat toto hodnocení'}" data-confirm-title="{_'Odebrat hodnocení'}" data-confirm-message="{_'Opravdu chcete toto hodnocení odebrat?'}">
						<i class="fa fa-trash-o"></i>
						<span>{_'Odebrat'}</span>
					</a>
				</td>
			</tr>

			<tr n:if="!count($reviewsGrid->items)" class="empty">
				<td colspan="6">{_'Nenalezeny žádná hodnocení'}</td>
			</tr>
		</tbody>
	</table>

	{$reviewsGrid->paginator}

</div>