{block navbarTitle}
	<i class="fa fa-refresh"></i>
	<span n:block="title">
		{_'Pravidelné vystavování dokladů'}
	</span>
{/block}

{block content}
<div class="container">
	<h1>{_'Pravidelné vystavování dokladů'}</h1>
	
	{foreach $log AS $record}
		{! $record}
	{/foreach}
	
</div>