{block navbarTitle}
	<i class="fa fa-refresh"></i>
	<span n:block="title">
		{_'Synchronizace plateb'}
	</span>
{/block}

{block content}
<div class="container">
	<h1>{_'Synchronizace plateb'}</h1>
	
	{foreach $log AS $record}
		{! $record}
	{/foreach}

</div>