<!DOCTYPE html>
<html lang="cs">
	<head>
		<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width; initial-scale = 1.0; maximum-scale=1.0; user-scalable=no" />

      <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"-->

			<style>
body{
margin: 0;
padding: 2em;
font-family: Verdana,Arial,sans-serif;
font-size: 12px;
color: #5A5A5A;
background: #ffffff;
text-align: left;
}

h1,
h2,
h3{
font-weight: normal;
letter-spacing: -0.05em;
margin-top: 1em;
margin-bottom: 0.3em;
}

h1, h2, h3, a{
color: #5E9ABC;
}

small{
color: #999;
font-size: 0.6em;
display: block;
}

.text-center{
  text-align: center;
}

table{
width: 100%;
border-spacing: 0;
margin: 0;
padding: 0;
}

table td{
padding: 0;
vertical-align: top;
}

table.list{
margin-bottom: 1em;
}

table.list th{
border-bottom: 2px solid #ddd;
}

table.list td{
padding: 0.3em 0;
vertical-align: middle;
border-bottom: 1px solid #ddd;
}

table.list td span{
font-size: 0.9em;
}

table.list th.image,
table.list td.image{
width: 10%;
padding-right: 1%;
}

table.list td.image img{
width: 100%;
height: auto;
border-radius: 3px;
padding: 0;
border: none;
}

table.list th.title,
table.list td.title{
text-align: left;
}

table.list th.amount,
table.list td.amount{
text-align: center;
}

table.list th.price,
table.list td.price{
text-align: right;
white-space: nowrap;
}

table.list tr.sum td{
border-top: 1px solid #ddd;
font-size: 1.1em;
}

table.list tr.charge td{
font-size: 1.2em;
border-bottom: none;
}

#footer {
border-top: 1px solid #ddd;
}

.suplier{
  float: left;
  width: 48%;
/*width: 50%;*/
}

.reciever{
  width: 48%;
  float: right;
/*width: 50%;
padding-left: 2%;*/
}

.order,
.bank{
  clear: both;
  width: 48%;
  float: left;
}

.order table td{
border-bottom: 1px solid #ddd;
padding: 0.8em;
}

.order table tr.last-child td{
border-bottom: none;
}

.order table td.last-child{
text-align: right;
}

.delivery_address,
.invoice{
width: 48%;
float: right;
}

.delivery_address .address{
margin: 0;
display: block;
padding: 0.8em;
font-size: 1.2em;
line-height: 1.8em;
height: 8.2em;
}

.order_note{
display: block;
margin-bottom: 1.6em;
}

.order_note p{
padding: 0.8em;
}

div.items{
  clear: both;
}

.rounded-border{
border: 1px solid #ddd;
border-radius: 3px;
padding: 3mm;
}

.text-right{
	text-align: right;
}

table.table td{
	border-bottom: 1px solid #ddd;
	padding: 1mm 0;
}

table.table tr.last-child td{
	border-bottom: none;
}
			</style>
		</head>
	<body>
		<div id="content">
      
      {include content}

		</div>
    <div id="footer">
			<div class="container">
				<p class="text-center">
				  <strong>{$client[client_title]}</strong>, <a href="mailto: {$client[client_email]}" title="{_'Napište nám'}">{$client[client_email]}</a><span n:if="$client[client_phone]">, {_'tel'}.: {$client[client_phone]}</span>
				</p>
			</div>
		</div>
	</body>
</html>