<a n:href="Add! main" title="{_'Vytvořit nový daňový doklad'}" class="btn btn-primary">
	<i class="fa fa-plus"></i>
	<span>{_'Daňový doklad'}</span>
</a>
<a n:href="Add! proforma" title="{_'Vytvořit výzvu k platbě (není daňový doklad)'}" class="btn btn-primary">
	<i class="fa fa-plus"></i>
	<span>{_'Výzva k platbě'}</span>
</a>
<a n:href="Invoices:templates" title="{_'Přehled šablon dokladů'}" class="btn btn-primary">
	<i class="fa fa-files-o"></i>
	<span>{_'Šablony'}</span>
</a>
<a n:href="Invoices:archive" title="{_'Zobrazit archív dokladů'}" class="btn btn-primary btn-ico">
	<i class="fa fa-clock-o"></i>
	<span>{_'Archív'}</span>
</a>