{var $props = & $_form->properties[$name]}

{if $props[visible] || $props[editable]}
	<h2>{_$label}</h2>
	<div class="list">
		<table class="table">
			<thead>
				<tr>
					<th class="title">{_'Jméno'}</th>
					<th class="title">{_'Email'}</th>
					<th class="tools">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				
				{var $recipientsCount = 0}
					
				<tr n:foreach="$_form[$name]->containers AS $recipient">
						
					{? $recipientsCount++}

					<td class="title">
						<input n:name="$recipient[name]" class="form-control" placeholder="{_'Zadejte jméno příjemce'}">
					</td>
					<td class="title">
						<input n:name="$recipient[email]" class="form-control" placeholder="{_'Zadejte email příjemce'}">
					</td>
					<td class="tools">
						<button n:name="$recipient[remove]" class="btn btn-default btn-ico">
							<i class="fa fa-trash-o"></i>
							<span>{_'Odebrat'}</span>
						</button>
					</td>
				</tr>

				<tr n:if="!$recipientsCount" class="empty">
					<td colspan="3">{_'Žádní příjemci'}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="buttonpane">
		<button n:name="$_form[$name][add]" class="btn btn-primary">
			<i class="fa fa-plus"></i>
			<span>{_'Přidat příjemce'}</span>
		</button>
	</div>
{/if}