{var $formName = isset($formName) ? $formName : "emailForm"}
{var $compactSender = isset($compactSender) ? $compactSender : false}

{form $formName}

	{default $fromNamePlaceholder = $form->properties[email_from_name][placeholder]}
	{default $fromEmailPlaceholder = $form->properties[email_from_email][placeholder]}
	{default $messagePlaceholder = $form->properties[email_message][placeholder]}
	{default $buttonLabel = $form->properties[send][label]}
	{default $buttonIcon = $form->properties[send][icon]}

	{control $formName errors}
	
	{input user_id}

	{if $compactSender}<div class="row"><div class="col-sm-6">{/if}

	{var $props = & $form->properties[email_from_name]}
	{if $props[visible] || $props[editable]}
		<div class="form-group">
			{if $props[editable]}
				<label class="control-label" n:name="email_from_name"><span n:if="$props[required]" class="required">*</span> {_$props[label]}</label>
				<input class="form-control" n:name="email_from_name" placeholder="{_$fromNamePlaceholder}">
			{else}
				<label class="control-label">{_$props[label]}</label>
				<p class="lead">{$_form[email_from_name]->value}</p>
				{*<input type="hidden" n:name="email_from_name">*}
			{/if}
		</div>
	{/if}

	{if $compactSender}</div><div class="col-sm-6">{/if}

	{var $props = & $form->properties[email_from_email]}
	{if $props[visible] || $props[editable]}
		<div class="form-group">
			{if $props[editable]}
				<label class="control-label" n:name="email_from_email"><span n:if="$props[required]" class="required">*</span> {_$props[label]}</label>
				<input class="form-control" n:name="email_from_email" type="email" placeholder="{_$fromEmailPlaceholder}">
			{else}
				<label class="control-label">{_$props[label]}</label>
				<p class="lead">{$_form[email_from_email]->value}</p>
				{*<input type="hidden" n:name="email_from_email">*}
			{/if}
		</div>
	{/if}

	{if $compactSender}</div></div>{/if}

	{include "formRecipients.latte", _form => $_form, name => "email_to", label => "Pro:"}

	{include "formRecipients.latte", _form => $_form, name => "email_cc", label => "Kopie:"}

	{include "formRecipients.latte", _form => $_form, name => "email_bcc", label => "Skrytá kopie:"}

	{var $props = & $form->properties[email_subject]}
	{if $props[visible] || $props[editable]}
		<div class="form-group">
			<label class="control-label" n:name="email_subject"><span n:if="$props[required]" class="required">*</span> {_$props[label]}</label>
			{if $props[editable]}
				<input class="form-control" n:name="email_subject" type="email" placeholder="{_$props[placeholder]}">
			{else}
				<strong>{$_form[email_subject]->value}</strong>
				<input type="hidden" n:name="email_subject">
			{/if}
		</div>
	{/if}

	{var $props = & $form->properties[email_message]}
	{if $props[visible] || $props[editable]}
		<div class="form-group">
			<label class="control-label" n:name="email_message"><span n:if="$props[required]" class="required">*</span> {_$props[label]}</label>
			{if $props[editable]}
				<textarea class="form-control{if $props[html]} html{/if}" n:name="email_message" placeholder="{_$messagePlaceholder}"></textarea>
			{else}
				<input type="hidden" n:name="email_message">
				<div class="panel panel-body">
					{! $props[value]}
				</div>
			{/if}
		</div>
	{/if}	

	{var $props = & $form->properties[email_attachments]}
	{if $props[visible] || $props[editable]}
		<h2 id="emailFormAttachments">
			<i class="fa fa-files-o"></i>
			<span>{$props[label]}</span>
		</h2>
		
		{include "../../Forms/templates/attachments.latte", _form => $_form, name => "email_attachments", editable => $props[editable]}

	{/if}
	
	{var $buttonClass = isset($buttonClass) ? $buttonClass : $form->properties[send][class]}

	<div class="buttonpane">
		<button n:name="send" class="{$buttonClass}">
			<i n:if="$buttonIcon" class="fa {$buttonIcon}"></i>
			<span>{_$buttonLabel}</span>
		</button>
	</div>
{/form}