{form projectForm "data-enter-submit" => "frm-projectForm-save"}

	{control projectForm errors}

	{? $presenter->loadFormProperties($_form)}

	<div role="tabpanel">
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#common" data-toggle="tab" title="{_'Nastavení základní informací o projektu'}">
					<i class="fa fa-info"></i> {_'Základní informace'}
				</a>
			</li>
			<li>
				<a href="#images" data-toggle="tab" title="{_'Fotografie, vizualizace, dispozice'}">
					<i class="fa fa-image"></i> {_'Fotogalerie'}
				</a>
			</li>
			<li n:if="count($_form->properties[userOptions])">
				<a href="#users" data-toggle="tab" title="{_'Přiřazení makléřů'}">
					<i class="fa fa-info"></i> {_'Makléři'}
				</a>
			</li>
		</ul>

		<div class="tab-content">

			<div class="tab-pane active" id="common">
				<h2>{_'Informace o projektu'}</h2>

				{include "form/common.latte", _form => $_form}
			</div>

			<div class="tab-pane" id="images">
				<h2>{_'Fotogalerie'}</h2>

				{include "form/images.latte", _form => $_form}
			</div>

			<div class="tab-pane" id="users" n:if="count($_form->properties[userOptions])">
				<h2>{_'Přiřazení makléři'}</h2>

				{include "form/users.latte", _form => $_form}
			</div>
		</div>
	</div>

	<div class="buttonpane">
		<button n:name="save" class="btn btn-primary btn-lg">
			<i class="fa fa-check"></i>
			<span>{_'Uložit projekt'}</span>
		</button>

		<a n:if="$project[project_id]" n:href="Remove! $project[project_id]" title="{_'Odebrat tento projekt'}" class="btn btn-default confirm" data-confirm-title="{_'Odebrat projekt'}" data-confirm-message="{_'Opravdu chcete tento projekt odebrat?'}">
			<i class="fa fa-trash-o"></i>
			<span>{_'Odebrat projekt'}</span>
		</a>
	</div>

{/form}