<div class="list">
	<table class="table projects fixed-header">
		<thead>
			<tr>
				<th class="image">&nbsp;</th>
				<th class="title">
					{include CP_DIR."/Grid/templates/sortableTh.latte", field => "project_title", label => "Název"}
				</th>
				<th class="less-important date">
					{include CP_DIR."/Grid/templates/sortableTh.latte", field => "project_established", label => "Zahájení"}
				</th>
				<th class="less-important date">
					{include CP_DIR."/Grid/templates/sortableTh.latte", field => "project_finished", label => "Dokončení"}
				</th>
				<th class="tools">
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody>
			<tr n:foreach="$projectsGrid->items AS $project">
				{var $slug_url = @$project[slug_url] ? $project[slug_url] : $presenter->link(':Front:Projects:detail $project->project_id')}
				<td class="image">
					<a href="{$basePath}/{$slug_url}" title="{_'Zobrazit projekt na webu'}">
						{include CP_DIR."/Files/templates/image.latte", image => @$project->image, forced => true}
					</a>
				</td>
				<td class="title">
					<strong>
						<a href="{$basePath}/{$slug_url}" title="{_'Zobrazit projekt na webu'}">
							{$project->project_title}
						</a>
					</strong>
					<span class="ellipsis">
						{$project->project_address|truncate:50}
					</span>
				</td>
				<td class="less-important date">
					{$project->project_established|date}
				</td>
				<td class="less-important date">
					{$project->project_finished|date}
				</td>
				<td class="tools">
					<a n:if="$user->isAllowed('Admin:Projects','articles')" n:href="Projects:articles $project->project_id" class="btn btn-primary btn-ico" title="{_'Správa článků projektu'}">
						<i class="fa fa-calendar"></i>
						<span>{_'Články'}</span>
					</a>
					<a n:if="$user->isAllowed('Admin:Projects','edit')" n:href="MoveUp! $project[project_id]" title="{_'Posunout projekt nahoru'}" class="btn btn-ico btn-primary{if $iterator->first} disabled{/if}">
						<i class="fa fa-chevron-up"></i>
						<span>{_'Nahoru'}</span>
					</a>
					<a n:if="$user->isAllowed('Admin:Projects','edit')" n:href="MoveDown! $project[project_id]" title="{_'Posunout projekt dolů'}" class="btn btn-ico btn-primary {if $iterator->last} disabled{/if}">
						<i class="fa fa-chevron-down"></i>
						<span>{_'Dolů'}</span>
					</a>
					<a n:if="$user->isAllowed('Admin:Projects','edit')" n:href="Projects:edit $project->project_id" class="btn btn-primary btn-ico" title="{_'Upravit tento projekt'}">
						<i class="fa fa-pencil"></i>
						<span>{_'Upravit'}</span>
					</a>
					<a n:if="$user->isAllowed('Admin:Projects','remove')" n:href="Remove! $project->project_id" class="btn btn-default btn-ico remove" title="{_'Odebrat tento projekt'}" data-confirm-title="{_'Odebrat projekt'}" data-confirm-message="{_'Opravdu chcete tento projekt odebrat?'}">
						<i class="fa fa-trash-o"></i>
						<span>{_'Remove'}</span>
					</a>
				</td>
			</tr>

			<tr n:if="!count($projectsGrid->items)" class="empty">
				<td colspan="5">{_'Nenalezeny žádné projekty'}</td>
			</tr>

		</tbody>
	</table>

	{! $projectsGrid->paginator}

</div>