{form contactForm}

	{control contactForm errors}

	<div class="form-group">
		<label class="control-label" n:name="contact_name"><span class="required">*</span> {_'Jméno'}</label>
		<input class="form-control" n:name="contact_name" placeholder="{_'Zadejte jméno'}">
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label class="control-label" n:name="contact_ic">{_'IČ'}</label>
				<input class="form-control" n:name="contact_ic" data-url-ares="{link 'AddressBook:getFromAres'}" placeholder="{_'Zadejte IČ'}">
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label class="control-label" n:name="contact_dic">{_'DIČ'}</label>
				<input class="form-control" n:name="contact_dic" placeholder="{_'Zadejte DIČ'}">
			</div>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label" n:name="contact_phone">{_'Telefon'}</label>
		<input class="form-control" n:name="contact_phone" placeholder="{_'Zadejte telefon'}">
	</div>

	<div class="form-group">
		<label class="control-label" n:name="contact_email">{_'Email'}</label>
		<input class="form-control" n:name="contact_email" placeholder="{_'Zadejte email'}" type="email">
	</div>

	<div class="row">
		<div class="col-sm-8">
			<div class="form-group">
				<label class="control-label" n:name="contact_address_street">{_'Ulice'}</label>
				<input class="form-control" n:name="contact_address_street" placeholder="{_'Zadejte ulici'}">
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<label class="control-label" n:name="contact_address_no">{_'Č.P / Č.O.'}</label>
				<input class="form-control" n:name="contact_address_no" placeholder="{_'Zadejte číslo popisné a číslo orientační'}">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-4">
			<div class="form-group">
				<label class="control-label" n:name="contact_address_postcode">{_'PSČ'}</label>
				<input class="form-control" n:name="contact_address_postcode" placeholder="{_'Zadejte PSČ'}">
			</div>
		</div>
		<div class="col-xs-8">
			<div class="form-group">
				<label class="control-label" n:name="contact_address_city">{_'Město'}</label>
				<input class="form-control" n:name="contact_address_city" placeholder="{_'Zadejte město'}">
			</div>
		</div>
	</div>

	<div class="form-group" n:if="@$presenter->client[selectCountry]">
		<label class="control-label" n:name="contact_address_country">{_'Země'}</label>
		<select class="form-control" n:name="contact_address_country"></select>
	</div>

	<div class="buttonpane">
		<button n:name="save" class="btn btn-primary btn-lg">
			<i class="fa fa-check"></i>
			<span>{_'Uložit kontakt'}</span>
		</button>

		<a  n:href="Remove! $contact[contact_id]" class="btn btn-default confirm" title="{_'Odebrat tento kontakt'}" data-confirm-title="{_'Odebrat kontakt'}" data-confirm-message="{_'Opravdu chcete tento kontakt odebrat?'}">
			<i class="fa fa-trash-o"></i>
			<span>{_'Odebrat kontakt'}</span>
		</a>
	</div>

{/form}