<div class="list">
	<table class="table addressbook fixed-header">
		<thead>
			<tr>
				<th class="title">{include CP_DIR."/Grid/templates/sortableTh.latte", field => "contact_name", label => "Jméno"}</th>
				<th>{include CP_DIR."/Grid/templates/sortableTh.latte", field => "contact_phone", label => "Telefon"}</th>
				<th>{include CP_DIR."/Grid/templates/sortableTh.latte", field => "contact_email", label => "Email"}</th>
				<th class="tools">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr n:foreach="$contactsGrid->items AS $contact">
				<td class="title">
					<strong>
						{$contact->contact_name}
					</strong>
					<span class="ellipsis">
						{$contact->contact_address_street} {$contact->contact_address_no}, {! $contact->contact_address_postcode|postcode} {$contact->contact_address_city}
					</span>
				</td>
				<td>
					{if $contact->contact_phone}
						{$contact->contact_phone}
					{else}
						<em>{_'Neuveden'}</em>
					{/if}
				</td>
				<td>
					{if $contact->contact_email}
						<a href="mailto: {$contact->contact_email}" title="{_'Napsat email'}">{$contact->contact_email}</a>
					{else}
						<em>{_'Neuveden'}</em>
					{/if}
				</td>
				<td class="tools">
					<a n:href="AddressBook:Edit $contact->contact_id" class="btn btn-primary btn-ico" title="{_'Upravit tento kontakt'}">
						<i class="fa fa-pencil"></i>
						<span>{_'Upravit'}</span>
					</a>;
					<a n:href="Remove! $contact->contact_id" class="btn btn-default btn-ico remove" title="{_'Odebrat tento kontakt'}" data-confirm-title="{_'Odebrat kontakt'}" data-confirm-message="{_'Opravdu chcete tento kontakt odebrat?'}">
						<i class="fa fa-trash-o"></i>
						<span>{_'Odebrat'}</span>
					</a>
				</td>
			</tr>

			<tr n:if="!count($contactsGrid->items)" class="empty">
				<td colspan="4">{_'Nenalezeny žádné kontakty'}</td>
			</tr>

		</tbody>
	</table>

	{! $contactsGrid->paginator}

</div>