<h1>{_'Daňový doklad č.'}&nbsp;{$invoice[invoice_no]}</h1>
<p n:if="$invoice[proforma_invoice_id]" class="lead text-center red">{_'Neplaťte, již bylo uhrazeno!'}</p>
<div class="row">
	<div class="col-sm-6 suplier">
		<h2>{_'Dodavatel'}</h2>
		
		<p>
			<strong>{$client[client_title]}</strong><br/>
			{_'IČ'}: {$client[client_ic]}
			<span n:if="$client[client_dic]"><br/>{_'DIČ'}: {$client[client_dic]}</span>
		</p>
		
		<p>
			{$client[client_address_street]} {$client[client_address_cp]}<br/>
			{! $client[client_address_postcode]|postcode} {$client[client_address_city]}
		</p>

		<p>
			{$client[client_incorporation]}
		</p>
	</div>
	<div class="col-sm-6 reciever">
		<h2>{_'Odběratel'}</h2>
		<p n:if="$invoice[invoice_customer_name]">
			<strong n:if="$invoice[invoice_customer_name]">{$invoice[invoice_customer_name]}</strong><br/>

			<span n:if="$invoice[invoice_customer_id]">{_'IČ'}: {$invoice[invoice_customer_id]}<br/></span>
			<span n:if="$invoice[invoice_customer_vat]">{_'DIČ'}: {$invoice[invoice_customer_vat]}</span>
		</p>
		<p class="address" n:if="$invoice[invoice_bill_address_city]">
			{$invoice[invoice_bill_address_street]} {$invoice[invoice_bill_address_no]}<br/>
			{$invoice[invoice_bill_address_postcode]} {$invoice[invoice_bill_address_city]}<br/>
			<span n:if="$invoice[invoice_bill_address_country]">{$countries[$invoice[invoice_bill_address_country]]}</span>
		</p>
		<p>
			<span n:if="$invoice[invoice_customer_phone]">{_'tel'}.: {$invoice[invoice_customer_phone]}<br/></span><span n:if="$invoice[invoice_customer_email]">{_'email'}: <a href="mailto:{$invoice[invoice_customer_email]}" title="{_'Napište nám'}">{$invoice[invoice_customer_email]}</a></span>
		</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 bank">
		<table>
			<tr>
				<td>{_'Bankovní účet'}</td>
				<td class="last-child text-right">
					<strong>
						{$invoice[invoice_bank_accountFormatted]}
					</strong>
				</td>
			</tr>
			<tr>
				<td>{_'Variabilní symbol'}</td>
				<td class="last-child text-right">
					<strong>
						{$invoice[invoice_vs]}
					</strong>
				</td>
			</tr>
			<tr n:if="$invoice[invoice_ks]">
				<td>{_'Konstantní symbol'}</td>
				<td class="last-child text-right">
					<strong>
						{$invoice[invoice_ks]}
					</strong>
				</td>
			</tr>
			<tr class="last-child" n:if="$invoice[invoice_payment]">
				<td>{_'Forma úhrady'}</td>
				<td class="last-child text-right">
					<strong>
						{$paymentOptions[main][$invoice[invoice_payment]]}
					</strong>
				</td>
			</tr>
		</table>
	</div>
	<div class="col-sm-6 dates">
		<table>
			<tr n:if="isset($order)">
				<td>{_'Číslo objednávky'}</td>
				<td class="last-child text-right">
					{if $order}
						<strong>{$order[order_no]}</strong>
					{else}
						<em>{_'Bez objednávky'}</em>
					{/if}
				</td>
			</tr>
			<tr n:if="isset($invoice[proforma])">
				<td>{_'Výzva k platbě č.'}</td>
				<td class="last-child text-right">
					<strong>
						{$invoice[proforma][invoice_no]}
					</strong>
				</td>
			</tr>
			<tr>
				<td>{_'Datum vystavení'}</td>
				<td class="last-child text-right">
					<strong>
						{$invoice[invoice_established]|date}
					</strong>
				</td>
			</tr>
			<tr>
				<td>{_'Datum splatnosti'}</td>
				<td class="last-child text-right">
					<strong>
						{$invoice[invoice_expire]|date}
					</strong>
				</td>
			</tr>
			<tr class="last-child">
				<td>{_'Datum zdanitelného plnění'}</td>
				<td class="last-child text-right">
					<strong>
						{$invoice[invoice_due]|date}
					</strong>
				</td>
			</tr>
		</table>
	</div>
</div>

<div class="items">
	<h2>{_'Položky'}</h2>

	<table class="table items list">
		<thead>
			<tr>
				<th class="title">{_'Název'}</th>
				<th class="price">{_'Cena bez DPH'}</th>
				<th class="amount">{_'Množství'}</th>
				
				<th class="price">{_'DPH'}</th>
				<th class="price sum">{_'Celkem s DPH'}</th>
			</tr>
		</thead>
		<tbody>
			{var $sum = 0}
			{var $sumVat = 0}

			{var $itemsCount = 0}

			<tr n:foreach="$invoice[items] as $item">
							
				{? $itemsCount++}
				{? $sum += $item[item_price_main] * $item[item_amount]}
				{? $sumVat += ($item[item_price_main] * ($item[item_price_vat]/100)) * $item[item_amount]}
									
				<td class="title">
					<strong>
						{$item[item_title]}
					</strong>
					<span n:if="@$item[item_description]" class="ellipsis"><br/>
						{@$item[item_description]|truncate:50}
					</span>
				</td>
				<td class="not-important price">
					{$item[item_price_main]|number:2:",":" "}&nbsp;{$currency}
				</td>
				<td class="amount">
					{$item[item_amount]}&nbsp;{$item[item_amount_unit]}
				</td>
				<td class="not-important price">
					{$item[item_price_vat]|number:2:",":" "}&nbsp;%
				</td>
				<td class="price sum">
					{($item[item_price_main] * $item[item_amount] * (1 + ($item[item_price_vat] / 100)))|number:2:",":" "}&nbsp;{$currency}
				</td>
			</tr>

			<tr n:if="!$itemsCount" class="empty">
				<td colspan="5">{_'Žádné položky'}</td>
			</tr>

			<tr n:if="$itemsCount" class="sum">
				<td class="title" colspan="4">{_'Celkem bez DPH'}</td>
				<td class="price sum">{$sum|number:2:",":" "}&nbsp;{$currency}</td>
			</tr>
			<tr n:if="$itemsCount" class="vat">
				<td class="title" colspan="4">{_'DPH'}</td>
				<td class="price sum">{$sumVat|number:2:",":" "}&nbsp;{$currency}</td>
			</tr>

			{var $roundDiff = round((round($sum + $sumVat) - ($sum + $sumVat)) * 100) / 100}

			<tr n:if="$itemsCount && $roundDiff != 0" class="vat">
				<td class="title" colspan="4">{_'Zaokrouhlení'}</td>
				<td class="price sum">{$roundDiff|number:2:",":" "}&nbsp;{$currency}</td>
			</tr>

			<tr n:if="$itemsCount" class="sum charge">
				<td class="title" colspan="4">{_'Celkem s DPH'}</td>
				<td class="price sum">{round($sum + $sumVat)|number:2:",":" "}&nbsp;{$currency}</td>
			</tr>
		</tbody>
	</table>

	<p n:if="$invoice[invoice_delegate_vat]" class="text-center">
		{_'Jedná se o přenesení daňové povinnosti podle § 92a zákona o dani z přidané hodnoty, kdy výši daně je povinen doplnit a přiznat plátce, pro kterého je plnění uskutečněno.'}
	</p>
</div>
