<h1>{_'Výzva k platbě'}<br/><small>Proforma faktura</small></h1>

<p>
	{_'Touto výzvou vás prosíme o uhrazení služeb či produktů, které jste si objednali. Daňový a učetní doklad pošleme v souladu se zákonem po uhrazení celé částky ve formátu PDF či poštou dle Vašeho požadavku. Děkujeme za uhrazení včas ve splatnosti'}.
</p>

<div class="row">
	<div class="col-sm-6 suplier">
		<h2>{_'Dodavatel'}</h2>
		
		<h3>{$client[client_title]}</h3>

		<p>
			{_'IČ'}: {$client[client_ic]}<span n:if="$client[client_dic]">, {_'DIČ'}: {$client[client_dic]}</span>
		</p>
		
		<p>
			{$client[client_address_street]} {$client[client_address_cp]}<br/>
			{$client[client_address_postcode]|postcode} {$client[client_address_city]}
		</p>

		<p>
			{$client[client_incorporation]}
		</p>
		
		<p>
			<span n:if="$client[client_phone]">{_'tel'}.: {$client[client_phone]}</span><br/>
			<a href="mailto:{$client[client_email]}" title="{_'Napište nám'}">{$client[client_email]}</a><br/>
			<a href="{$client[domain]}" title="{$client[client_title]}">{$client[domain]}</a>
		</p>
	</div>
	<div class="col-sm-6 reciever">
		<h2>{_'Odběratel'}</h2>
		<h3 n:if="$invoice[invoice_customer_name]">{$invoice[invoice_customer_name]}</h3>
		<p n:if="$invoice[invoice_customer_id]">
			<span>{_'IČ'}: {$invoice[invoice_customer_id]}</span><span n:if="$invoice[invoice_customer_vat]">, {_'DIČ'}: {$invoice[invoice_customer_vat]}</span>
		</p>
		<p class="address" n:if="$invoice[invoice_bill_address_city]">
			{$invoice[invoice_bill_address_street]} {$invoice[invoice_bill_address_no]}<br/>
			{$invoice[invoice_bill_address_postcode]|postcode} {$invoice[invoice_bill_address_city]}<br/>
			<span n:if="$invoice[invoice_bill_address_country]">{$countries[$invoice[invoice_bill_address_country]]}</span>
		</p>
		<p>
			<span n:if="$invoice[invoice_customer_phone]">{_'tel'}.: {$invoice[invoice_customer_phone]}<br/></span>
			<span n:if="$invoice[invoice_customer_email]">{_'email'}: <a href="mailto:{$invoice[invoice_customer_email]}" title="{_'Napište nám'}">{$invoice[invoice_customer_email]}</a></span>
		</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 bank">
		<table>
			<tr>
				<td>{_'Bankovní účet'}</td>
				<td class="last-child text-right"><strong>{$invoice[invoice_bank_accountFormatted]}</strong></td>
			</tr>
			<tr>
				<td>{_'Variabilní symbol'}</td>
				<td class="last-child text-right"><strong>{$invoice[invoice_vs]}</strong></td>
			</tr>
			<tr class="last-child" n:if="$invoice[invoice_ks]">
				<td>{_'Konstantní symbol'}</td>
				<td class="last-child text-right"><strong>{$invoice[invoice_ks]}</strong></td>
			</tr>
		</table>
	</div>
	<div class="col-sm-6 dates">
		<table>
			<tr>
				<td>{_'Datum vystavení'}</td>
				<td class="last-child text-right"><strong>{$invoice[invoice_established]|date}</strong></td>
			</tr>
			<tr>
				<td>{_'Datum splatnosti'}</td>
				<td class="last-child text-right"><strong>{$invoice[invoice_expire]|date}</strong></td>
			</tr>
		</table>
	</div>
</div>

<div class="items">
	<h2>{_'Položky'}</h2>

	<table class="table items list">
		<thead>
			<tr>
				<th class="title">{_'Název'}</th>
				<th class="amount">{_'Množství'}</th>
				<th class="price sum">{_'Celkem vč. DPH'}</th>
			</tr>
		</thead>
		<tbody>
			{var $sum = 0}
			{var $sumVat = 0}

			{var $itemsCount = 0}

			<tr n:foreach="$invoice[items] as $item">
							
				{? $itemsCount++}
				{? $sum += $item[item_price_main] * $item[item_amount]}
				{? $sumVat += ($item[item_price_main] * ($item[item_price_vat]/100)) * $item[item_amount]}
									
				<td class="title">
					<strong>
						{$item[item_title]}
					</strong>
					<span n:if="@$item[item_description]" class="ellipsis"><br/>
						{@$item[item_description]|truncate:50}
					</span>
				</td>
				<td class="amount">
					{$item[item_amount]}&nbsp;{$item[item_amount_unit]}
				</td>
				<td class="price sum">
					{($item[item_price_main] * $item[item_amount] * (1 + ($item[item_price_vat] / 100)))|number:2:",":" "}&nbsp;{$currency}
				</td>
			</tr>

			<tr n:if="!$itemsCount" class="empty">
				<td colspan="5">{_'Žádné položky'}</td>
			</tr>

			<tr n:if="$itemsCount" class="sum charge">
				<td class="title" colspan="2">{_'Celkem k úhradě'}</td>
				<td class="price sum">{round($sum + $sumVat)|number:2:",":" "}&nbsp;{$currency}</td>
			</tr>
		</tbody>
	</table>
</div>
