{block navbarTitle}
	<i class="fa fa-bars"></i>
	<span n:block="title">{_'Menu'}</span>
	<small>{_'správa menu'}</small>
{/block}

{block content}
	<div class="container list-container">
		{form menuForm}

			{control menuForm errors}

			<div class="form-group">
				<label class="control-label" n:name="menu">{_'Menu'}</label>
				<input class="form-control" n:name="menu" placeholder="{_'Zadejte klíč menu'}">
			</div>

			<div class="form-group">
				<label class="control-label" n:name="slug_id">{_'URL'}</label>
				<select class="form-control" n:name="slug_id"></select>
			</div>

			<div class="buttonpane">
				<button n:name="add" class="btn btn-primary">
					<i class="fa fa-check"></i>
					<span>{_'Přidat'}</span>
				</button>
			</div>

		{/form}

		<div n:foreach="$menuItems AS $menu" class="list">
			<h2>{$menu[title]}</h2>
			<table class="table">
				<thead>
					<tr>
						<th class="title">{_'Položka'}</th>
						<th class="tools">&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr n:foreach="$menu[items] AS $item">
						<td class="title">
							<strong>{$item["slug_label"]}</strong>
							<span class="ellipsis">{$item["slug_url"]}</span>
						</td>
						<td class="tools">
							<a n:href="MoveUp! $item[item_id]" title="{_'Posunout položku nahoru'}" class="btn btn-ico btn-primary{if $iterator->first} disabled{/if}">
								<i class="fa fa-chevron-up"></i>
								<span>{_'Nahoru'}</span>
							</a>
							<a n:href="MoveDown! $item[item_id]" title="{_'Posunout položku dolů'}" class="btn btn-ico btn-primary {if $iterator->last} disabled{/if}">
								<i class="fa fa-chevron-down"></i>
								<span>{_'Dolů'}</span>
							</a>
							<a n:href="Remove! $item[item_id]" title="{_'Odebrat tuto položku'}" class="btn btn-ico btn-primary remove" data-confirm-title="{_'Odebrat tuto položku'}" data-confirm-message="{_'Opravdu chcete tuto položku odebrat?'}">
								<i class="fa fa-trash-o"></i>
								<span>{_'Odebrat'}</span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{/block}