<nav class="locales" n:inner-foreach="$presenter->translator->getAvailableLocales() AS $locale">
	{var $label = $presenter->regionsService->settings[locales][$locale]}
	
	<a n:href="SetLocale! $locale" title="{$label}"{if $presenter->translator->getLocale() == $locale} class="active"{/if}>
		<i class="fa fa-locale fa-locale-{$locale}"></i>
		<span>{_$label}</span>
	</a>
</nav>