{form reviewForm}

	{control reviewForm errors}

	<input type="hidden" n:name="created" />

	<div class="form-group">
		<label class="control-label">{_'Vaše jméno'}</label>
		<input class="form-control" placeholder="{_'Vaše jméno'}" n:name="review_author_name" />
	</div>

	<div class="form-group">
		<label class="control-label">{_'Město'}</label>
		<input class="form-control" placeholder="{_'Město'}" n:name="review_author_city" />
	</div>

	<div class="form-group">
		<label class="control-label">{_'Váš email'}</label>
		<input class="form-control" placeholder="{_'Váš email'}" n:name="review_author_email" type="email" />
	</div>

	<div class="form-group">
		<label class="control-label">{_'Text'}</label>
		<textarea class="form-control" placeholder="{_'Text'}" n:name="review_text"></textarea>
	</div>

	<div class="buttonpane">
		<button n:name="save" class="btn btn-primary">
			<i class="fa fa-check"></i>
			<span>{_'Vložit hodnocení'}</span>
		</button>
	</div>
	
{/form}