{default $noReviews = "Žádná hodnocení"}

<div class="reviews">
	<div class="item" n:foreach="$reviews AS $review">
		<p>
			{$review[review_text]}
		</p>
		<div class="row">
			<div class="col-sm-6">
				<strong>
					<a href="mailto: {$review[review_author_email]}" title="{_'Napsat email'}">
						{$review[review_author_name]}, {$review[review_author_city]}
					</a>
				</strong>
			</div>
			<div class="col-sm-6 text-right">
				{$review[created]|date}
			</div>
		</div>
	</div>

	<p n:if="!count($reviews)" class="empty">
		{_$noReviews}
	</p>
</div>