{form newsletterForm}
	<div class="form-group">
		<label class="control-label" n:name="newsletter_contact_email">{_'Přihlásit se k odběru novinek'}</label>
		<div class="input-group">
			<input class="form-control" n:name="newsletter_contact_email" type="email" placeholder="{_'Zadejte email pro odběr novinek ...'}">
			<span class="input-group-btn">
				<button n:name="save" class="btn btn-default">
					<i class="fa fa-envelope"></i>
					<span>{_'Registrovat'}</span>
				</button>
			</span>
		</div>
	</div>
{/form}