{block navbarTitle}
	<i class="fa fa-files-o"></i>
	<span n:block="title">{_'Google Analytics'}</span>
	<small>{_'přehled'}</small>
{/block}

{block navbarButtons}

{/block}

{block content}
	{include "sessions.latte"}
{/block}