{ifset $analyticsData}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script type="text/javascript">

	// Load the Visualization API and the piechart package.
	google.load('visualization', '1.0', {'packages': ['corechart']});

	// Set a callback to run when the Google Visualization API is loaded.
	google.setOnLoadCallback(drawChart);

	// Callback that creates and populates a data table,
	// instantiates the pie chart, passes in the data and
	// draws it.
	function drawChart() {

		// Create the data table.
		var data = new google.visualization.DataTable();
		data.addColumn('string', 'Datum');
		data.addColumn('number', 'Návštěvy');
		data.addRows({! $analyticsData["data"] });

		// Set chart options
		var options = {'title': 'Počet návštěv',
			'width': '100%',
			'height': '400',
			'legend': 'none',
			chartArea: {
				left: 5,
				top: 20,
				width: '100%',
				height: '350',
			}};

		// Instantiate and draw our chart, passing in some options.
		var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
		chart.draw(data, options);
	}
</script>

<div class="row">
	<div class="col-sm-12">
			<select id="selectbox" class="form-control">
			<option n:href="this 'from' => 'today', 'to' => 'today'," {if isset($_GET['from']) && $_GET['from'] == 'today'}selected{/if}>{_"Dnes"}</option>
			<option n:href="this 'from' => 'yesterday', 'to' => 'yesterday'," {if isset($_GET['from']) && $_GET['from'] == 'yesterday'}selected{/if}>{_"Včera"}</option>
			<option n:href="this 'from' => '8daysAgo', 'to' => 'yesterday'," {if isset($_GET['from']) && $_GET['from'] == '8daysAgo'}selected{/if}>{_"Posledních 7 dní"}</option>
			<option n:href="this 'from' => '15daysAgo', 'to' => 'yesterday'," {if isset($_GET['from']) && $_GET['from'] == '15daysAgo'}selected{/if}>{_"Posledních 14 dní"}</option>
			<option n:href="this 'from' => '31daysAgo', 'to' => 'yesterday'," {if isset($_GET['from']) && $_GET['from'] == '31daysAgo'}selected{/if} selected>{_"Posledních 30 dní"}</option>
		</select>
	</div>
</div>

<div class="row">
	<div class="col-sm-8">
		<div id="chart_div"></div>
	</div>
	<div class="col-sm-4">
		<h3>Shrnutí</h3>
		<table class="table table-hover">
			<tr>
				<td>Celkové návštěvy</td>
				<td>{$analyticsData["total"]["ga:sessions"]}</td>
			</tr>
			<tr>
				<td>Počet uživatelů</td>
				<td>{$analyticsData["total"]["ga:users"]}</td>
			</tr>
			<tr>
				<td>Počet zobrazených stránek</td>
				<td>{$analyticsData["total"]["ga:pageviews"]}</td>
			</tr>
			<tr>
				<td>Bounce Rate</td>
				<td>{$analyticsData["total"]["ga:bounceRate"]|number:1} %</td>
			</tr>
			<tr>
				<td>Stránek/Návštěva</td>
				<td>{$analyticsData["total"]["ga:users"] > 0 ? $analyticsData["total"]["ga:pageviews"]/$analyticsData["total"]["ga:users"] : 0|number:2}</td>
			</tr>
		</table>
	</div>
</div>

<script type="text/javascript">
	$('#selectbox').change(function () {
		window.location = $("option:selected", this).attr("href");
	});
</script>
{else}
	Není nastaveno Google Analytics
{/ifset}