{form gridFilterForm}

	{control gridFilterForm errors}

	{foreach $form->properties["rules"] AS $key => $filter}
		{if $filter[type] == "select"}
			<div class="form-group">
				<label class="control-label" n:name="$key">{_$filter[label]}</label>
				<select class="form-control" n:name="$key"></select>
			</div>
		{elseif $filter[type] == "multiselect" || $filter[type] == "checkboxlist"}
			<div class="form-group">
				<label class="control-label">{_$filter[label]}</label>
				<div class="checkboxlist">
					{input $key}
				</div>
		{elseif $filter[type] == "range"}
			{formContainer $key}
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label" n:name="from">{_$filter[labelFrom]}</label>
							<div class="input-group">
								<input class="form-control" n:name="from" type="number"{if isset($filter[placeholderFrom])} placeholder="{_$filter[placeholderFrom]}"{/if}>
								<span n:if="@$filter[unit]" class="input-group-addon">
									{! $filter[unit]}
								</span>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label" n:name="to">{_$filter[labelTo]}</label>
							<div class="input-group">
								<input class="form-control" n:name="to" type="number"{if isset($filter[placeholderTo])} placeholder="{_$filter[placeholderTo]}"{/if}>
								<span n:if="@$filter[unit]" class="input-group-addon">
									{! $filter[unit]}
								</span>
							</div>
						</div>
					</div>
				</div>
			{/formContainer}
		{else}
			<div class="form-group">
				<label class="control-label" n:name="$key">{_$filter[label]}</label>
				<input class="form-control" n:name="$key"{if isset($filter[placeholder])} placeholder="{_$filter[placeholder]}{/if}">
			</div>
		{/if}
	{/foreach}

	<div class="buttonpane">
		<button n:name="search" class="{$form->properties[buttonClass]}">
			<i class="fa {$form->properties[buttonIcon]}"></i>
			<span>{_$form->properties[buttonLabel]}</span>
		</button>
	</div>

{/form}