{if count($grid->sorter->fields)}
	{form gridSorterForm, class => "form-inline sorter"}
				
		<div class="form-group">
			<label n:name="order" class="control-label">{_'Seřadit podle'}</label>
			<select n:name="order" class="form-control input-sm"></select>
		</div>
		<button type="submit" name="dir" class="btn btn-ico btn-sm" value="ASC">
			<i class="fa fa-chevron-up"></i>
			<span>{_'Vzestupně'}</span>
		</button>
		<button type="submit" name="dir" class="btn btn-ico btn-sm" value="DESC">
			<i class="fa fa-chevron-down"></i>
			<span>{_'Sestupně'}</span>
		</button>

	{/form}
{/if}