{if !isset($enabled)}
	{var $enabled = true}
{/if}

{if $enabled}
	{if $presenter->getParameter('order') == $field AND $presenter->getParameter('dir') == 'ASC'}
		<a n:href="this order => $field, dir => 'DESC'">
	{else}
		<a n:href="this order => $field, dir => 'ASC'">
	{/if}
	{if $presenter->getParameter('order') == $field}
		<i class="fa fa-chevron-circle-{if $presenter->getParameter('dir') == 'ASC'}up{else}down{/if}"></i>
	{else}
		<i class="fa fa-unsorted"></i>
	{/if}
{/if}

{ifset $label}
	<span>{_$label}</span>
{/ifset}

{if $enabled}
	</a>
{/if}