{var $cols = 12 / (isset($cols) ? $cols : 3)}
{var $gridClass = isset($gridClass) ? $gridClass : "col-sm-" . $cols}
{var $rowClass = isset($rowClass) ? $rowClass : "images"}
{var $ratio = isset($ratio) ? $ratio : null}
{var $offset = isset($offset) ? $offset : 0}
{default $images = array()}
{default $autoThb = true}

<div n:if="is_array($images)" class="row {$rowClass}" n:inner-foreach="$images AS $image">
	<div class="{$gridClass}" n:if="$iterator->getCounter() > $offset">
		<a href="{$basePath}/{$image->file_src}" class="image colorbox" title="{_'Zvětšit obrázek'}" data-rel="album">
			{include "image.latte", image => $image, ratio => $ratio, autoThb => $autoThb}
		</a>
	</div>
</div>