{var $filetype = pathinfo($file)}
{var $ext = strtolower(@$filetype[extension])}
					
<a href="{$basePath}{$file}" target="_blank">
	{if !isset($icon) || $icon}
	<i class="ico ico-ext ico-ext-{$ext}">{$ext}</i> 
	{/if}
	<strong>{if isset($title)}{$title}{else}{$filetype[filename]}{/if}</strong>
</a>