{block content}
	<h2>Soubory v databázi</h2>
	<ul n:inner-foreach="$log[filesInDb] AS $file_id => $file_src">
		<li>{$file_id}: {$file_src}</li>
	</ul>

	<h2>Soubory v databázi ke smazání <small>soubory fyzicky neexistují, tak odebrat z databáze</small></h2>
	<ul n:inner-foreach="$log[filesInDbToRemove] AS $file_src">
		<li>{$file_src}</li>
	</ul>

	<h2>Soubory ke smazání <small>soubory nenalezeny v databázi, tak fyzicky smazat</small></h2>
	<ul n:inner-foreach="$log[filesToRemove] AS $file_src">
		<li>{$file_src}</li>
	</ul>