{form articleForm class=>"confirm-leave"}

	{control articleForm errors}

	{include "../../Forms/templates/localeInput.latte", name => "article_title", label => "Titulek článku", placeholder => "Zadejte titulek článku", size => "lg", _form => $_form}

	{include "../../Forms/templates/localeTextArea.latte", name => "article_snippet", label => "Úryvek", placeholder => "Uveďte úryvek článku pro zobrazení v seznamu", lighthtml => true, collapsed => true, _form => $_form}

	{include "../../Forms/templates/localeTextArea.latte", name => "article_content", label => "Obsah", placeholder => "Uveďte obsah článku", html => true, _form => $_form}

	<div class="form-group">
		<label class="control-label" n:name="article_published">{_'Publikováno'}</label>
		<input class="form-control date" n:name="article_published" placeholder="{_'Zvolte datum publikování článku'}">
	</div>

	<div n:if="$user->isInRole('admin') || $user->isInRole('superAdmin')" class="form-group">
		<label class="control-label" n:name="user_id">{_'Autor'}</label>
		<select class="form-control" n:name="user_id"></select>
	</div>

	<h2>{_'Obrázky'}</h2>

	{include "../../Forms/templates/gallery.latte", _form => $_form}

	{include "../../Slugs/templates/slugPart.latte", _form => $_form}

	<div class="buttonpane">
		<button n:name="save" class="btn btn-primary btn-lg">
			<i class="fa fa-check"></i>
			<span>{_'Uložit článek'}</span>
		</button>

		<a n:if="$article[article_id]" n:href="Remove! $article[article_id]" title="{_'Odebrat tento článek'}" class="btn btn-default confirm" data-confirm-title="{_'Odebrat článek'}" data-confirm-message="{_'Opravdu chcete tento článek odebrat?'}">
			<i class="fa fa-trash-o"></i>
			<span>{_'Odebrat článek'}</span>
		</a>
	</div>

{/form}