{var $forced = isset($forced) ? $forced : false}
{var $forcedImage = isset($forcedImage) ? $forcedImage : false}
{var $noArticlesLabel = isset($noArticlesLabel) ? $noArticlesLabel : 'Nenalezeny žádné články'}

<div class="articles" n:if="count($articlesGrid->items) || $forced">
	<div n:foreach="$articlesGrid->items AS $article" class="article">
		<div class="row">
			<div class="col-sm-4" n:if="@$article->image || $forcedImage">
				<a n:href="Articles:detail $article->article_id" title="{_'Zobrazit celý článek'}" class="image">
					{include CP_DIR."/Files/templates/image.latte", image => @$article->image, forced => true}
				</a>
			</div>
			<div class="{if @$article->image || $forcedImage}col-sm-8{else}col-sm-12{/if}">
				<h3>
					<a n:href="Articles:detail $article->article_id" title="{_'Zobrazit celý článek'}">
						{$article->article_title}
					</a>
				</h3>
				<p>
					{strip_tags($article->article_snippet)|truncate:200}
				</p>
				<p class="text-right">
					{$article->article_published|date}<span n:if="$article->user_title">&nbsp;|&nbsp;{$article->user_title}</span>
				</p>
			</div>
		</div>
	</div>

	<div n:if="!count($articlesGrid->items)" class="empty">
		<p>{_$noArticlesLabel}</p>
	</div>

	{! $articlesGrid->paginator}

</div>
