{var $backlink = $presenter->storeRequest()}

<div class="list">
	<table class="table articles fixed-header">
		<thead>
			<tr>
				<th class="image">&nbsp;</th>
				<th class="title">
					{include CP_DIR."/Grid/templates/sortableTh.latte", field => "article_title", label => "Název"}
				</th>
				<th class="less-important date">
					{include CP_DIR."/Grid/templates/sortableTh.latte", field => "article_published", label => "Vytvořeno"}
				</th>
				<th class="less-important date">
					{include CP_DIR."/Grid/templates/sortableTh.latte", field => "user_title", label => "Autor"}
				</th>
				<th class="tools">
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody>
			<tr n:foreach="$articlesGrid->items AS $article">
				<td class="image">
					<a n:href=":Front:Articles:detail $article->article_id" title="{_'Zobrazit článek na webu'}">
						{include CP_DIR."/Files/templates/image.latte", image => @$article->image, forced => true}
					</a>
				</td>
				<td class="title">
					<strong>
						<a n:href=":Front:Articles:detail $article->article_id" title="{_'Zobrazit článek na webu'}">
							{$article->article_title}
						</a>
					</strong>
					<span class="ellipsis">
						{strip_tags($article->article_snippet)|truncate:50}
					</span>
				</td>
				<td class="less-important date">
					{$article->article_published|date}
				</td>
				<td class="less-important name">
					{$article->user_title}
				</td>
				<td class="tools">
					<a n:if="$user->isAllowed('Admin:Articles','edit')" n:href="Articles:edit $article->article_id, backlink => $backlink" class="btn btn-primary btn-ico" title="{_'Upravit tento článek'}">
						<i class="fa fa-pencil"></i>
						<span>{_'Upravit'}</span>
					</a>
					<a n:if="$user->isAllowed('Admin:Articles','remove')" n:href="Articles:default, do => 'remove', article_id => $article->article_id, backlink => $backlink" class="btn btn-default btn-ico remove" title="{_'Odebrat tento článek'}" data-confirm-title="{_'Odebrat článek'}" data-confirm-message="{_'Opravdu chcete tento článek odebrat?'}">
						<i class="fa fa-trash-o"></i>
						<span>{_'Odebrat'}</span>
					</a>
				</td>
			</tr>

			<tr n:if="!count($articlesGrid->items)" class="empty">
				<td colspan="5">{_'Nenalezeny žádné články'}</td>
			</tr>

		</tbody>
	</table>

	{! $articlesGrid->paginator}

</div>
