{var $editable = isset($editable) ? $editable : true}
{var $forced = isset($forced) ? $forced : false}

<div class="list document">
	<table class="table">
		<thead>
			<tr>
				<th class="title">{_'Soubor'}</th>
				<th class="text-right">{_'Velikost'}</th>
				<th n:if="$editable" class="tools t-1">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			
			{var $attachmentsSize = 0}
			{var $attachmentsCount = 0}
				
			<tr n:foreach="$_form[$name]->containers AS $attachment">
				
				{? $attachmentsCount++}

				{var $filesize = filesize(WWW_DIR . "/" . $attachment[file_src]->value)}

				{? $attachmentsSize += $filesize}

				<td class="title">
					
					{$attachment[file_src]->control}

					{include "../../Files/templates/fileWithIcon.latte", file => $attachment[file_src]->value}
				
				</td>
				<td class="text-right">
					{$filesize|bytes}
				</td>
				<td n:if="$editable" class="tools t-1">
					<button type="submit" n:name="$attachment[remove]" class="btn btn-ico remove">
						<i class="fa fa-trash-o"></i>
						<span>{_'Odebrat'}</span>
					</button>
				</td>
			</tr>

			<tr n:if="!$attachmentsCount" class="empty">
				<td colspan="3">{_'Žádné přílohy'}</td>
			</tr>
				
			<tr class="sum">
				<td class="title">
					{$attachmentsCount}&nbsp;
										
					{if $attachmentsCount == 1}
						{_'soubor'}
					{elseif $attachmentsCount > 1 && $attachmentsCount < 5}
						{_'soubory'}
					{else}
						{_'souborů'}
					{/if}
				</td>
				<td class="text-right">
					{$attachmentsSize|bytes}
				</td>
				<td n:if="$editable" class="tools t-1">
					&nbsp;
				</td>
			</tr>
		</tbody>
	</table>
</div>		
<div n:if="$editable" class="row">
	<div class="col-sm-6">
		<input type="file" n:name="$_form[$name][files]" class="inline">
							
		<button n:name="$_form[$name][add]" class="btn btn-primary">
			<i class="fa fa-upload"></i>
			<span>{_'Nahrát vybrané přílohy'}</span>
		</button>
	</div>
	<div class="col-sm-6 text-right">
		<button n:name="$_form[$name][removeall]" class="btn btn-default">
			<i class="fa fa-trash-o"></i>
			<span>{_'Odebrat všechny přílohy'}</span>
		</button>
	</div>
</div>
