{var $name = isset($name) ? $name : "images"}

<div class="row toolbar">
	<div class="col-sm-6">
		<div class="form-group">
			<label class="control-label" for="frm-nemovitostiForm-files">{_'Přidat fotografie'} <small>({_'Najednou je možné vybrat maximálně 20 fotografií'})</small></label>
			<input type="file" n:name="$_form[$name][files]" multiple>
		</div>
	</div>
	<div class="col-sm-6 text-right">
		<button type="submit" n:name="$_form[$name]['addImages']" class="btn btn-primary">
			<i class="fa fa-upload"></i>
			<span>{_'Nahrát vybrané fotografie'}</span>
		</button>
	</div>
</div>

<div class="images">
	{var $imagesCount = 0}
	{foreach $_form[$name]->containers as $image}
		{? $imagesCount++}

		{include "image.latte", image => $image, forced => false, file_rank => $iterator->counter, sortable => true}

	{/foreach}

</div>

{if $imagesCount}
	<div class="row toolbar">
		<div class="col-sm-6">
			<p>{_'Počet fotografií'}: <strong>{$imagesCount}</strong></p>
		</div>
		<div class="col-sm-6 text-right">
			<button n:name="$_form[$name]['removeAllImages']" class="btn btn-default remove">
				<i class="fa fa-trash-o"></i>
				<span>{_'Odebrat vše'}</span>
			</button>
		</div>
	</div>
{else}
	<p class="empty">
		{_'Zatím nebyly přidány žádné fotografie'}
	</p>
{/if}
