{var $forced = isset($forced) ? $forced : false}
{var $removeEnabled = isset($removeEnabled) ? $removeEnabled : true}
{var $sortable = isset($sortable) ? $sortable : false}
{var $file_rank = isset($file_rank) ? $file_rank : 1}

{if ($exists = $image[file_src]->value ? true : false) || $forced}
	<div class="image">
		{if $exists}
			{var $thbPath = $basePath . "/" . $presenter->filesService->getThbPath($image[file_src]->value)}
			{var $backgroundImage = file_exists(WWW_DIR . $thbPath) ? $thbPath : $basePath . "/" . $image[file_src]->value}
		{else}
			{var $backgroundImage = $basePath . "/backend/img/no-image.png"}
		{/if}
		
		<a class="thb colorbox" style="background-image: url('{$backgroundImage}');" href="{$backgroundImage}" data-rel="images"></a>
		<div class="toolbar">
			<div n:if="$exists" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h3>{_'Úprava popisku obrázku'}</h3>
						</div>
						<div class="modal-body">
							{include "localeInput.latte", name => $image['file_alt'], label => "Popisek obrázku", placeholder => "Zadejte popis obrázku"}
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary" data-dismiss="modal">
								<i class="fa fa-check"></i>
								<span>OK</span>
							</button>
						</div>
					</div>
				</div>
			</div>

			{$image['file_id']->control}
			{$image['file_src']->control}
			{$image['file_rel']->control}

			{*{if $sortable}
				<input n:name="$image['file_main']" type="checkbox" class="file_main" />
			{else}*}
				<input type="hidden" n:name="$image['file_main']" class="file_main" />
			{*{/if}*}

			<input n:name="$image['file_rank']" value="{$file_rank}" class="file_rank" />

			<span n:if="$sortable" class="sort">
				<a href="/" class="moveup{if !$exists} disabled{/if}" title="Posunout tento orázek dopředu"><i class="fa fa-angle-top"></i></a>
				<a href="/" class="movedown{if !$exists} disabled{/if}" title="Posunout tento obrázek dozadu"><i class="fa fa-angle-down"></i></a>
			</span>
			
			<a class="btn btn-default btn-ico edit{if !$exists} disabled{/if}" href="javascript:void(0);" title="{_'Upravit popisek obrázku'}">
				<i class="fa fa-pencil"></i>
			</a>
			
			<button n:if="$exists && $removeEnabled" n:name="$image['remove']" class="btn btn-default btn-ico remove{if !$exists} disabled{/if}">
				<i class="fa fa-trash-o"></i>
			</button>
		</div>
	</div>
{/if}