
{var $prefix = isset($prefix) ? $prefix : false}
{var $sufix = isset($sufix) ? $sufix : false}
{var $size = isset($size) ? $size : "md"}
{var $collapsed = isset($collapsed) ? $collapsed : false}

<div class="form-group{if $multiLocale} has-localisation{/if}{if $collapsed} collapsible{/if} {$size}"{if $collapsed == 'forced'} data-force-collapsed="1"{/if}>
	<label class="control-label{if $collapsed} collapsible-trigger{/if}">{_$label}</label>

	<div{if $collapsed} class="collapsible-content"{/if}>
		{formContainer $name}
			{foreach $presenter->translator->getAvailableLocales() AS $locale}
				{if $multiLocale}
					<div class="localisation-group">
						<span class="form-control-localisation" n:if="!$prefix">
							<i class="fa fa-locale fa-locale-{$locale}"></i>
							<span>{strtoupper($locale)}</span>
						</span>
				{/if}

				{if $prefix || $sufix}
					<div class="input-group">
						<span n:if="$prefix" class="input-group-addon">
							<i n:if="$multiLocale" class="fa fa-locale fa-locale-{$locale}"></i>
							{$prefix}
						</span>
				{/if}	
					<select class="form-control input-{$size}" n:name="$locale"></select>
				{if $prefix || $sufix}
						<span n:if="$sufix" class="input-group-addon">
							{$sufix}
						</span>
					</div>
				{/if}	

				{if $multiLocale}
					</div>
				{/if}
			{/foreach}
		{/formContainer}
	</div>
</div>