{var $html = isset($html) ? $html : false}
{var $lightHtml = isset($lightHtml) ? $lightHtml : false}
{var $required = isset($required) ? $required : false}
{var $collapsed = isset($collapsed) ? $collapsed : false}
{var $editable = isset($editable) ? $editable : true}

{var $id = $_form->name . "-" . $name}

<div class="form-group{if $multiLocale} has-localisation{/if}{if $collapsed} collapsible{/if}">
	<label n:if="@$label" class="control-label{if $collapsed} collapsible-trigger{/if}"><span n:if="$required" class="required">*</span> {_$label}</label>

	<div {if $collapsed} class="collapsible-content"{/if}>
		{if $multiLocale}
			<ul class="nav nav-tabs localisation-tabs" id="myTab" n:inner-foreach="$presenter->translator->getAvailableLocales() AS $locale">
				<li {first}class="active"{/first}>
					<a href="#{$id}_tab_{$locale}" data-toggle="tab">
						<i class="fa fa-locale fa-locale-{$locale}"></i>
						<span>{strtoupper($locale)}</span>
					</a>
				</li>
			</ul>
			
			<div class="tab-content">
		{/if}

		{formContainer $name}
			{foreach $presenter->translator->getAvailableLocales() AS $locale}
				{if $multiLocale}<div class="tab-pane{first} active{/first}" id="{$id}_tab_{$locale}">{/if}

					{if $editable}
						<textarea class="form-control {if $html}html{elseif $lightHtml}lighthtml{/if}" n:name="$locale" rel="required" {if isset($placeholder)}placeholder="{_$placeholder}"{/if}></textarea>
					{else}
						<div class="form-control">
							{! $_form[$locale]->value}
						</div>
						<input type="hidden" n:name="$locale">	
					{/if}

				{if $multiLocale}</div>{/if}
			{/foreach}
		{/formContainer}

		{if $multiLocale}</div>{/if}
	</div>
</div>