{var $type = isset($type) ? $type : "text"}
{var $prefix = isset($prefix) ? $prefix : false}
{var $sufix = isset($sufix) ? $sufix : false}
{var $required = isset($required) ? $required : false}
{var $size = isset($size) ? $size : "md"}
{var $collapsed = isset($collapsed) ? $collapsed : false}
{var $editable = isset($editable) ? $editable : true}

<div class="form-group{if $multiLocale} has-localisation{/if}{if $collapsed} collapsible{/if} {$size}"{if $collapsed == 'forced'} data-force-collapsed="1"{/if}>
	<label class="control-label{if $collapsed} collapsible-trigger{/if}"><span n:if="$required" class="required">*</span> {_$label}</label>

	<div{if $collapsed} class="collapsible-content"{/if}>
		{formContainer $name}
			{foreach $presenter->translator->getAvailableLocales() AS $locale}
				{if $multiLocale}
					<div class="localisation-group">
						<span class="form-control-localisation" n:if="!$prefix">
							<i class="fa fa-locale fa-locale-{$locale}"></i>
							<span>{strtoupper($locale)}</span>
						</span>
				{/if}

				{if $prefix || $sufix}
					<div class="input-group">
						<span n:if="$prefix" class="input-group-addon">
							<i n:if="$multiLocale" class="fa fa-locale fa-locale-{$locale}"></i>
							{$prefix}
						</span>
				{/if}	
					{if $editable}
						<input class="form-control input-{$size}" n:name="$locale" type="{$type}"{if isset($placeholder)} placeholder="{$placeholder}"{/if}>
					{else}
						<strong class="form-control input-{$size}">{$_form[$locale]->value}</strong>
						<input type="hidden" n:name="$locale">
					{/if}
				{if $prefix || $sufix}
						<span n:if="$sufix" class="input-group-addon">
							{$sufix}
						</span>
					</div>
				{/if}	

				{if $multiLocale}
					</div>
				{/if}
			{/foreach}
		{/formContainer}
	</div>
</div>
