{var $id = isset($id) ? $id : null}
{var $nameAddress = isset($nameAddress) ? $nameAddress : null}
{var $labelAddress = isset($labelAddress) ? $labelAddress : null}
{var $required = isset($required) ? $required : false}
{var $setRadius = isset($setRadius) ? $setRadius : false}
{var $placehoderRadius = isset($placeholderRadius) ? $placeholderRadius : "V okruhu"}

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language={$presenter->translator->getLocale()}"></script>

<div class="form-group address{if $setRadius} radius{/if}{if $nameAddress} input{/if}" {if $id}id="{$id}"{/if}>
	<label n:if="$labelAddress" class="control-label" n:name="$nameAddress">
		<span n:if="$required" class="required">*</span>
		{_$labelAddress}
	</label>

	{if $nameAddress}
		<input class="form-control address" n:name="$nameAddress" placeholder="{_$placeholderAddress}">
	{else}
		<input type="hidden" class="address">
	{/if}

	<input n:name="$nameLatitude" class="latitude" type="hidden">
	<input n:name="$nameLongitude" class="longitude" type="hidden">

	<div n:if="$setRadius" class="input-group">
		<input n:name="$nameRadius" class="form-control radius" type="number" placeholder="{_$placeholderRadius}">
		<span class="input-group-addon">
			km
		</span>
	</div>
</div>