{var $removeEnabled = isset($removeEnabled) ? $removeEnabled : true}

<div class="picture">
	
	{include "image.latte", image => $_form[$name], forced => $forced, removeEnabled => $removeEnabled}
	
	<div class="form-group text-center">
		<input type="file" n:name="$_form[$name][files]">
		<button type="submit" n:name="$_form[$name][addImages]" class="btn btn-primary">
			<i class="fa fa-upload"></i>
			<span>{_'Nahrát obrázek'}</span>
		</button>
	</div>
</div>