{include "../../../Forms/templates/localeInput.latte", name => "project_title", label => "Název projektu", placeholder => "Zadejte název projektu", size => "lg"}

{include "../../../Forms/templates/localeTextArea.latte", name => "project_description", label => "Kompletní popis projektu", placeholder => "Uveďte kompletní popis projektu", html => true}

{include "../../../Forms/templates/mapInput.latte", _form => $_form, nameAddress => "project_address", nameLatitude => "project_latitude", nameLongitude => "project_longitude", labelAddress => 'Adresa', placeholderAddress => 'Zadejte adresu projektu'}

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
			<label class="control-label" n:name="project_established">{_'Termín zahájení'}</label>
			<input class="form-control date" n:name="project_established" placeholder="{_'Zadejte termín zahájení'}">
		</div>
	</div>
	<div class="col-sm-6">
		<div class="form-group">
			<label class="control-label" n:name="project_finished">{_'Termín dokončení'}</label>
			<input class="form-control date" n:name="project_finished" placeholder="{_'Zadejte termín dokončení'}">
		</div>
	</div>
</div>

<div class="form-group">
	<label class="control-label" n:name="project_status">{_'Stav projektu'}</label>
	<select class="form-control" n:name="project_status"></select>
</div>

{include "../../../Slugs/templates/slugPart.latte"}