<div class="list">
	<table class="table">
		<thead>
			<tr>
				<th class="image">&nbsp;</th>
				<th class="title">{_'Jméno'}</th>
				<th class="tools">&nbsp;</th>
			</tr>
		</thead>
		<tbody>

			{var $usersCount = 0}

			<tr n:foreach="$_form['users']->containers as $container">

				{? $usersCount++}

				{var $user = $_form->properties[users][$container[user_id]->value]}

				<td class="image">

					{include CP_DIR."/Files/templates/image.latte", image => $user[portrait], forced => true}

				</td>
				<td class="title">

					{$container[id]->control}

					{$container[user_id]->control}

					<strong>{$user[user_title]}</strong>
					<span class="ellipsis">{$user[user_phone]}</span>
				</td>
				<td class="tools">
					<button n:name="$container[remove]" class="btn btn-ico btn-default remove">
						<i class="fa fa-trash-o"></i>
						<span>{_'Odebrat'}</span>
					</button>
				</td>
			</tr>
			<tr n:if="!$usersCount" class="empty">
				<td colspan="3">{_'Žádní makléři'}</td>
			</tr>
		</tbody>
	</table>

	<div n:if="count($_form->properties[userOptions])">
		<div class="form-group">
			<label class="control-label" for="projectForm-users-user-id"><i class="fa fa-plus"></i> {_'Přidat makléře'}</label>
			<div class="input-group">
				<select name="users[user_id]" class="form-control" id="projectForm-users-user-id">
					<option n:foreach="$_form->properties[userOptions] AS $value => $label" value="{$value}">{$label}</option>
				</select>
				<span class="input-group-btn">
					<button n:name="$_form['users']['add']" class="btn btn-primary">
						<span>{_'Přidat makléře'}</span>
						<i class="fa fa-chevron-right"></i>
					</button>
				</span>
			</div>
		</div>
	</div>
</div>